[2016-08-11 16:58] ankushgoel27 opened #1 "Exception: sh: cut: command not found"
hi,

I am getting this error when i try to run any module. I believe the IOS doesn't have the 'cut' command installed.

[2016-08-11 17:18] ankushgoel27 opened #2 "Exception: Support for iOS < 8 not yet implemented."
Hi,

I am using IOS 9.3.3 jailbroken device. i am getting an error saying that "Exception: Support for iOS < 8 not yet implemented." what does this mean. Does it mean that i will need to use a device with IOS less than 8?

[2016-08-11 17:36] marco-lancini commented on #1
Hi, if you set the global variable `SETUP_DEVICE` to `True`, Needle will automatically install all the dependencies needed on the device:

```set SETUP_DEVICE True```

[2016-08-11 17:36] #1 closed

[2016-08-11 17:36] marco-lancini commented on #2
If you look at the `README` file, you will see that:

[2016-08-11 18:45] ankushgoel27 commented on #1
i did setup the setup_device True however no luck. I went to cydia and installed the required package from there. :)

[2016-08-11 19:34] ankushgoel27 commented on #2
waiting eagerly for your ios9 support. This tools is amazing. thanks :)

[2016-08-12 03:22] turingH opened #3 "ImportError: No module named paramiko"
Hi，
i meet some problem
i have already done what installation guide told me with a totally new OS X virtual machine.
but, it shows that

python needle.py
Traceback (most recent call last):
  File "needle.py", line 9, in <module>
    from core.framework import cli
  File "/Users/xxx/needle/needle/core/framework/cli.py", line 9, in <module>
    from framework import Framework, FrameworkException
  F

[2016-08-12 03:25] dpnishant commented on #3
Hi @turingH,

It seems like the `paramiko` module was not found in your python env. Did you trying installing it: `pip install paramiko`?

[2016-08-12 03:59] turingH commented on #3
yes， u can see my cmd history.
i used `sudo -H pip install --upgrade --user paramiko`
thank you for replying so quickly :)

[2016-08-12 04:03] turingH commented on #3
[code]

[2016-08-12 04:33] dpnishant commented on #3
@turingH Try doing this `sudo -H pip install paramiko --ignore-installed`

[2016-08-12 04:37] turingH commented on #3
thank you! it works now! 👍

[2016-08-12 04:42] dpnishant commented on #3
you're welcome!

[2016-08-12 04:42] #3 closed

[2016-08-12 06:45] cclauss opened #4 "Would it be possible to run Needle on the iOS device?"
Given a jailbroken iOS device and [Pythonista](http://omz-software.com/pythonista), would it be possible to run Needle directly on the iOS device?

[2016-08-13 14:22] marco-lancini commented on #4
Hi, may I ask you for what reason?

[2016-08-15 12:33] z0mbi3 opened #5 "OSError: [Errno 13] Permission denied"
I keep getting the following error when trying to connect to the device. idb works correctly.

I found that the permissions for the file needle/libs/usbmuxd/tcprelay.py didn't include execution bit.

    scalpel:~ z$ ls -l /Users/z/devel/needle/needle/libs/usbmuxd/tcprelay.py
    -rw-r--r--  1 z  staff  4184 11 Aug 14:04 tcprelay.py

This fixed it:

     chmod +x needle/libs/usbmuxd/tcprelay.py

[2016-08-15 13:07] marco-lancini commented on #5
Hi @z0mbi3, thank you very much for the submission.
This has now been fixed.

[2016-08-15 13:07] #5 closed

[2016-08-15 13:07] #4 closed

[2016-08-15 14:18] cclauss commented on #4
My thought was that it would be quite useful to run Needle on my iOS devices to see if it could find vulnerabilities in my currently loaded apps.  If Needle found issues, I might seek to remove those apps from my devices and seek out more secure alternatives.

[2016-08-16 06:45] ankushgoel27 opened #7 "ios 9.3.3 still cant use on IOS 9"
[!] Exception: Support for iOS < 8 not yet implemented.

 Still not working. I am using the latest release

[2016-08-16 08:24] marco-lancini commented on #7
hi @ankushgoel27, this should be fixed now

[2016-08-16 08:24] #7 closed

[2016-08-16 08:36] marco-lancini commented on #1
@ankushgoel27 what package did you have to install?

[2016-08-18 10:19] tomneaves opened #8 "..."
...

[2016-08-18 10:26] #8 closed

[2016-08-18 19:54] blark opened #9 "[!] Exception: sh: cut: command not found."
Hey there,

Great work! I was just playing around with needle and I tried this:
[code]

I'm not sure which package cut is in, but am I missing some sort of setup option on the device? I have setup device set to true, maybe a package is missing? I would just install it but I'm not sure which package has cut in it and I can't seem to find it with Google.
[code]

[2016-08-18 20:02] marco-lancini commented on #9
Hey, thanks!
In the latest version (if you cloned the repo today or yesterday) it should have already been fixed.

If the error still persist, can you please manually install the following packages and try to re-run Needle again?

`iPhone:~ root# apt-get install coreutils coreutils-bin`

[2016-08-18 20:03] blark commented on #9
Ahh, I pulled it a few days ago. I will refresh! Thanks.

[2016-08-18 20:47] bugzapperini opened #10 "Import error with decode_dss_signature"
Followed everything written in guide and installed all the packages on Kali 2.0. But facing following error. Tried forceful installation of paramiko as well.

Import error
# python needle.py
Traceback (most recent call last):
  File "needle.py", line 9, in <module>
    from core.framework import cli
  File "/root/needle/needle/core/framework/cli.py", line 9, in <module>
    from framework import F

[2016-08-19 09:24] jithin005 opened #11 "dyld: lazy symbol binding failed: Symbol not found: _map_fd"
I selected binary/class_dump, run the module but it gives error

[code]

also there is an error:
`Prerequisite Not Found: apt-get .`

But i have installed apt 0.7 strict

[2016-08-19 09:34] marco-lancini commented on #11
Hi, I've you tried to clone the more recent version?

[2016-08-19 09:35] marco-lancini commented on #10
Hi, did you managed to successfully install paramiko then? Or the installation fails at some point?

[2016-08-19 09:35] jithin005 commented on #11
I dont think so. Is the both error due to old version?

[2016-08-19 09:36] marco-lancini commented on #11
Can you please clone Needle now, and try again?

[2016-08-19 09:38] bugzapperini commented on #10
It didn't fail. However before installing all the python modules, I upgraded Kali 2.0. Does that affect paramiko in anyway? If yes, then I'll freshly start the installation.

[2016-08-19 09:38] jithin005 commented on #11
Same error is coming.

[2016-08-19 09:39] marco-lancini commented on #11
can you please enable verbose (`set VERBOSE True`) and debug (`set DEBUG True`) logging, and pasting the output?

[2016-08-19 09:41] marco-lancini commented on #10
Unfortunately we don't mantain/troubleshoot paramiko.
Try to install it from scratch and in a python shell test if the following works fine:

`from paramiko.dsskey import DSSKey`

[2016-08-19 09:42] bugzapperini commented on #10
Sure will do that. Thanks for response.

[2016-08-19 09:42] #10 closed

[2016-08-19 09:49] jithin005 commented on #11
`[needle][metadata] > run
[*] Checking connection with device...
[V] Connection not present, creating a new instance
[V] Setting up USB port forwarding on port 2222
[D] [LOCAL CMD] Local Subprocess Command: /home/shawn/Downloads/needle-master/needle/libs/usbmuxd/tcprelay.py -t 22:2222
[V] Setting up SSH connection...
[+] Connected to: 127.0.0.1
[V] Creating temp folder: /var/root/needle/
[D] [REMO

[2016-08-19 09:52] marco-lancini commented on #11
Ok, thanks for the log. Can you confirm that `apt` is definitely installed?
You can test for it by SSH into the device and for example try to `apt-get update`

[2016-08-19 09:55] jithin005 commented on #11
apt-get update is working fine

[2016-08-23 12:19] hiburn8 commented on #9
Having the same problem with the Lipo binary when using the storage/cache/screenshot module. Needle is trying to run Lipo remotely rather than the version from xcode... but this isnt a package I can find anywhere for iOS and does not have a source/package-name in the constants file. Where is this cheeky monkey hiding? :/

[2016-08-23 12:44] hiburn8 commented on #9
Scratch that. The DEVICE_SETUP option managed to sort it. Looking at the debug i have no idea how.. there was an APT lock at the time so it shouldnt have been able to do anything.. but whatever.. it works!

[2016-08-23 21:12] #9 closed

[2016-08-31 04:46] jithin005 commented on #11
any fix for this issue??

[2016-09-07 15:02] marco-lancini commented on #11
Hi @jithin005, we are still unable to reproduce this issue.
Have you tried to install lipo manually form Cydia?
It should be contained in the "_Darwin CC Tools_" package (`org.coolstar.cctools`)

[2016-09-15 04:43] jithin005 commented on #11
Can @marco-lancini help me on installing it? I have installed darwin cc tools using cydia.

[2016-09-15 06:48] jithin005 commented on #11
Error update: now showing `UnicodeDecodeError: 'utf8' codec can't decode byte 0xd5 in position 60: invalid continuation byte`

and my ap-get is working fine but still it shows apt-get not found.

[2016-09-15 07:17] jithin005 commented on #11
the full traceback of the above error

[code]

[2016-09-15 08:35] marco-lancini commented on #11
Can you please provide the full log, from when you start Needle up to this error?
(for example. I would like to see what application you are targeting)

[2016-09-15 09:50] jithin005 commented on #11
is this error application specific?? let me check

[2016-09-15 09:53] jithin005 commented on #11
the error is not application specific. it is showing the same error in all apps.

[2016-09-15 10:05] jithin005 commented on #11
not showing apps installed using cydia y?

[2016-09-15 10:15] marco-lancini commented on #11
@jithin005 Can you please provide the full log, from when you start Needle up to this error?
(for example. I would like to see what application you are targeting)

[2016-09-15 11:10] jithin005 commented on #11
Since the app that i am testing is confidential I cant say the name of it .

[code]

[2016-09-15 11:29] jithin005 commented on #11
[code]

[2016-09-15 11:51] marco-lancini commented on #11
is `a.b.c.d` the real bundle id, or you redacted it?
also, debug mode was not enabled in the dump you provided

[2016-09-16 05:17] jithin005 commented on #11
yes i changed it.

[2016-09-16 06:03] jithin005 commented on #11
[code]

[2016-09-17 05:55] swaroopsy opened #21 "[list_App] modules error"
## Issue

### Expected behaviour
This module is supposed to list all installed apps.

### Actual behaviour
Instead of listing apps, its giving error message as 'ExpatError: unclosed token: line 4910, column 23]

### Steps to reproduce
1. Select the module list_apps for connection iOS 9.0.2
2. After running the module, it will give error as attached screenshot.

### needle error logs
Ensure verbose

[2016-09-17 11:25] marco-lancini commented on #21
Hi @swaroopsy , could you please enable also debug mode and post the output?

[2016-09-20 08:46] HenryHoggard opened #23 "Keychain Dump 'KeyError' when no applications are installed"
## Issue

### Expected behaviour
It should be possible to read the keychain even with no  applications are installed. For example users might want to read the default system keychain.

### Actual behaviour

If no applications are installed, It always asks to choose an application number, if I press enter with no number It shows this error:
[code]

If I try choose a number that doesn't exist, for e

[2016-09-20 13:04] marco-lancini commented on #23
hi @HenryHoggard, this should now be fixed in the `develop` branch

[2016-09-20 13:04] #23 closed

[2016-09-20 22:01] NitinJami opened #24 "Shell command fails to establish connection properly"
## Issue

### Expected behaviour
drop a remote shell on the device

### Actual behaviour
Exception raised. Related to "cryptography" library.

### Steps to reproduce
1. run shell inside needle

### needle error logs
Ensure verbose and debug mode are enabled:
[code]

## Environment

#### OS X 10.11.6

#### Python 2.7.10

#### Python Packages (`pip freeze`)
[code]

#### iOS 9.3.3

## Notes

Looks li

[2016-09-22 22:37] GeneralZero opened #26 "Configuration file displays the Password in cleartext"
## Issue
When loading the configuration from a file the password shows up on the screen.

### Expected behaviour
The password should be stored but the password should be starred out.

[2016-09-26 14:59] summitt opened #27 "Feature Request for Global Output path"
I'd like to set a global path for all output artifacts instead of having to change it on every module I import. Currently everything goes into ~/.needle/tmp/.

Maybe this is possible and i missed it in the settings somewhere.

[2016-09-26 18:46] marco-lancini commented on #27
Hi @summitt, this is actually a good point! I'll work to fix it asap

[2016-09-27 17:45] marco-lancini commented on #27
Hi @summitt, this has now been pushed into `master`. Could you please pull the new version and give it a try? Thanks!

[2016-09-27 17:45] #27 closed

[2016-09-28 08:43] tghosth opened #31 "Module checks if files exist in wrong output directory"
## Issue

Module checks if files exist in wrong output directory
### Expected behaviour

When you run a module, it should check if files already exist in the output directory which was specified before running the module and warns appropriately.
### Actual behaviour

When you run a module, it checks if files already exist in the default/global output directory even if a different output directory

[2016-09-28 11:15] marco-lancini commented on #31
Hi @tghosth, thanks for reporting this.
Needle now supports a new global option (`OUTPUT_FOLDER`) which can be used to define what folder is going to be used globally to store the output created by the modules.
In addition, there is still the possibility to customize the output of each module by modifying its local `OUTPUT` variable.

Now, the first module run after startup will trigger a check th

[2016-09-28 11:43] tghosth commented on #31
hi @marco-lancini, firstly I think the global output feature is a great idea and will save a lot of time :)

However, if I run a module having specified a different output folder, it doesn't make sense to me that it checks the global output folder. To my mind, it should check the global output folder the first time it uses the global output folder and if I run a module with a different folder, the

[2016-09-28 11:46] marco-lancini commented on #31
Just deferred or would you suggest to check also that "different" folder?

[2016-09-28 13:27] tghosth commented on #31
Good question. One idea would be to have a global option that basically controls whether the user gets prompted about non-empty output directories and that applies everywhere.

[2016-09-28 14:16] javixeneize opened #33 "python 3.5 compatibility?"
Hi

Is it compatible with python 3.5?

i am having an error importing utils

  File "/needle/core/utils/printer.py", line 4, in <module>
    from utils import Utils
ImportError: cannot import name 'Utils'

Thanks

[2016-09-28 14:25] marco-lancini commented on #33
Hi @javixeneize, no. Needle has been built on python2.7

[2016-09-28 14:25] #33 closed

[2016-09-28 19:10] summitt commented on #27
Finally got a chance to test it out. Works great! thanks! Also if someone would like to submit modules to be included in the default version of needle; how would suggest they go about that?

[2016-09-28 21:13] summitt opened #34 "Reconnecting SSH Session Feature Request"
## Issue

Sometimes running commands like heap_dump causes the device to drop its SSH connection or if the device is accidentally unplugged needle will need to be restarted
### Expected behaviour

The  _exec_command_ssh method should attempt to reconnect on failure.

I have already modified my own version to fix this. It will attempt to reconnect and rerun the command if it fails up to 3 times.  I

[2016-09-29 09:24] tghosth opened #35 "keychain_dumper does not dump all items."
## Issue
This is not so much an issue in needle as an issue in a binary it uses but I wanted it to be on record so that people are aware and to suggest using a different tool.

### Expected behaviour
The keychain_dump.py module should dump all keychain items when run.

### Actual behaviour
For some unknown reason, the keychain_dumper binary seems to dump some but not all keychain items. Specifical

[2016-09-29 11:34] marco-lancini commented on #27
It would be awesome if you could contribute! :)
Ideally you could fork the repo, apply your changes, and then propose a pull request to the official `develop` branch. Then I'll be able to accept the pull request and merge your changes in the default version of needle

[2016-09-29 11:53] marco-lancini commented on #35
Hi @tghosth, we were aware of this issue and we were trying to investigate it.
It would be awesome if you could submit a new version for this module which address this issue.

[2016-09-29 11:55] marco-lancini commented on #24
Hi @NitinJami, it is not an issue within Needle, but in one of the dependencies.
I would suggest to try and reinstall `paramiko`

[2016-09-29 11:55] #24 closed

[2016-09-29 11:55] marco-lancini commented on #21
Hi @swaroopsy, any update on this?

[2016-09-29 13:27] marco-lancini commented on #34
Hi @summitt, nice fix! Will you be able to submit a pull request with these changes?

[2016-09-29 14:44] tghosth commented on #35
I couldn't resist...

See #37

[2016-09-29 14:50] marco-lancini commented on #35
haha thanks a lot! I'll review it and merge it into `master`

[2016-09-29 14:50] #35 closed

[2016-09-29 20:03] summitt commented on #34
Sure... I'll do it tonight or tomorrow.

[2016-09-30 04:37] jithin005 commented on #11
Any fix for this issue???

[2016-09-30 13:28] marco-lancini commented on #11
@jithin005 as said previously, I can't troubleshoot this if you don't provide me the real bundle id that is causing the issue

[2016-10-02 07:04] tghosth commented on #35
hi @marco-lancini I will have another stab at this but it may not be until a few days time so if you or someone else works on it in the meantime, please let me know, thanks :)

[2016-10-04 07:10] jithin005 commented on #11
All apps show the same error.
[code]

[2016-10-04 19:51] ankushgoel27 opened #43 "Exception:PID not found"
## Issue

### Expected behaviour
Cycript should be able to find the PID and attach to the process. i can see the PID and the process when i run this command on the device - 'ps ax | grep - i 'whasome.app'' which shows all the running processes.

###Actual Behaviour
I have an app installed that checks for jailbroken device and throws an error on the screen within the app that it cannot run because

[2016-10-04 19:56] marco-lancini commented on #43
Hi @ankushgoel27, a couple of comments:

1) In "Steps to reproduce" you list a non-existent module `hooking/cycript/cycript`. I assume you are referring to `hooking/cycript/cycript_shell`?
2) Can you please post also `verbose` and `debug` logs please?

[2016-10-05 04:38] ankushgoel27 commented on #43
[needle][script_enum-classes] > run
[*] Checking connection with device...
[+] Already connected to: 192.168.0.6
[V] Creating temp folder: /var/root/needle/
[D] [REMOTE CMD] Remote Command: if [ -d /var/root/needle/ ]; then echo "yes"; else echo "no" ; fi
[+] Target app: com.westernhealth.whasome
[*] Local port forwarding to enable communications with the Frida server already setup
[D] Connected o

[2016-10-05 04:39] ankushgoel27 commented on #43
Ankush-Goels-iPad:~ root# ps ax | grep -i "whasome"
 2984   ??  Ss     0:01.26 /var/containers/Bundle/Application/E2E45BB2-8A4A-4CB9-A70F-E89419D767F4/whasome.app/whasome
 3061 s000  R+     0:00.00 grep -i whasome

[2016-10-05 04:40] ankushgoel27 commented on #43
Ankush-Goels-iPad:~ root# ps ax | grep -i "whasome.app"
 2984   ??  Ss     0:01.26 /var/containers/Bundle/Application/E2E45BB2-8A4A-4CB9-A70F-E89419D767F4/whasome.app/whasome
 3063 s000  R+     0:00.00 grep -i whasome.app

[2016-10-05 07:55] tghosth opened #45 "Contribution guide missing"
Did the contribution guide get deleted?

[2016-10-05 09:00] marco-lancini commented on #45
Hi @tghosth, we are currently investigating... after the outage Github experienced yesterday, we are seeing some file missing! :S

[2016-10-05 09:36] tghosth commented on #45
related to [this](https://github.com/mwrlabs/needle/commit/7951383809fd0f67414331201e817c81944585ff)?

[2016-10-05 12:26] marco-lancini commented on #43
ok thanks for the info, could you try to download the latest version of needle (updated just now) and try again?

[2016-10-05 12:30] marco-lancini commented on #45
exactly, I re-created them now :)

[2016-10-05 12:30] #45 closed

[2016-10-05 14:06] tghosth commented on #35
hi @marco-lancini, updated version is now in PR #46

[2016-10-05 15:11] ankushgoel27 commented on #43
yup, it works fine now.

Thanks,

[2016-10-05 15:14] #43 closed

[2016-10-05 15:43] ankushgoel27 opened #51 "Issue with Frida"
## Issue
Frida script find class enum method function giving error.
### Expected behaviour
it should look for the methods for the defined classes.
### Actual behaviour
It threw an error saying tuple out of range.

### Steps to reproduce
1.
2.
3.

### needle error logs
Ensure verbose and debug mode are enabled:
[code]

## Environment
VMWARE
#### Workstation Operating System
Kali Linux
#### Python V

[2016-10-06 05:58] tghosth opened #52 "keychaineditor also doesn't seem to work"
## Issue

Further to PR #49 (`needle/modules/storage/data/keychain_dump.py`)  and issue #35...

Just to let you know that running `keychaineditor --action dump` on my device (even outside needle) results in `Segmentation fault: 11`.

## Environment

#### Workstation Operating System
Kali 2016.2

#### Python Version
2.7.12+

#### Python Packages (`pip freeze`)
[code]

#### Device iOS Version
9.2

[2016-10-07 01:29] ankushgoel27 opened #54 "cycript issue"
## Issue

### Expected behaviour
isa.messages should show all the methods for that class
### Actual behaviour
isa should have a function called messages. isa.messages is not showing anything and the function doesn't exist

### Steps to reproduce
1.
2.
3.

### needle error logs
Ensure verbose and debug mode are enabled:
[code]

## Environment

#### Workstation Operating System
kali linux 2016.3
###

[2016-10-07 09:00] marco-lancini commented on #54
Sorry but this isn't an issue pertaining to Needle, therefore we can't troubleshoot it.

[2016-10-07 09:00] #54 closed

[2016-10-07 09:01] marco-lancini commented on #51
Hi @ankushgoel27, can you please check if Frida has been installed correctly both on your workstation and on your device?

[2016-10-07 23:19] ankushgoel27 commented on #51
I update frida on my device and now i am getting this error. do i need to run anything else on my machine or device?

[needle] > use hooking/frida/script_enum-classes
[needle][script_enum-classes] > run
[D] Setup local output folder: /root/.needle/output
[*] Checking connection with device...
[V] Connection not present, creating a new instance
[V] Setting up SSH connection...
[+] Connected to: 192

[2016-10-08 13:41] marco-lancini commented on #51
Hi, as stated in the error:

you have to be sure that the 2 instances of frida are running the same version

[2016-10-08 15:13] ankushgoel27 commented on #51
It got solved. I had to upgrade my Linux frida to the latest version by doing pip install frida --upgrade. After that everything is running smoothly.

Thanks a lot for your support :)

[2016-10-08 15:27] marco-lancini commented on #51
No worries! :)

[2016-10-08 15:27] #51 closed

[2016-10-10 13:10] tghosth opened #58 "Errors saving files in storage/data/files_* modules"
## Issue

Errors in the `convert_path_to_filename` method in `app.py` are preventing all modules which are using it from saving files locally correctly.

Currently they are all just being saved locally as plist_None (for example) and overwriting each other.

I have submitted pull request #57 to fix this.

[2016-10-14 19:09] ndoell opened #61 "list_apps module failing"
## Issue
Hi I am running the module list_apps however it is failing at plutil does not exist.  I'm wondering if plutil should be running as a local command and not on the Apple device?

### Expected behaviour
List of applications on the connected iPAD should be displayed.

### Actual behaviour
needle] > use various/list_apps
[needle][list_apps] > run
[*] Checking connection with device...
[V] Conn

[2016-10-15 17:08] tghosth commented on #61
Hi @ndoell, have you previously run an operation with `set SETUP_DEVICE True` which installs the relevant tools on the device? If so, did it execute without errors? Maybe post the log of running list_apps with `set SETUP_DEVICE True`.

[2016-10-16 13:21] marco-lancini commented on #21
close for inactivity

[2016-10-16 13:21] #21 closed

[2016-10-17 14:56] ndoell commented on #61
@tghosth it failed to install the tools.

[*] Loading commands from resource file
[needle] > # If SETUP_DEVICE is set to True,
[needle] > # Needle will automatically install all the required tools on the device
[needle] > set SETUP_DEVICE True
SETUP_DEVICE => True
[needle] > EOF
[+] Resource file successfully loaded
[needle] >
[needle] >
[needle] > use various/list_apps
[needle][list_apps] > run
[

[2016-10-17 14:59] marco-lancini commented on #61
Hi @ndoell, as you can see from the error log you posted above:

the device you are using has no space left on disk. If you want to install other tools you'll have to free up some space first.

[2016-10-17 15:00] ndoell commented on #61
Strange it says 9.9GB free.

[2016-10-17 15:02] marco-lancini commented on #61
In what partition?

[2016-10-17 15:25] ndoell commented on #61
Ah sorry I checked on Storage & iCloud Usage which was wrong.  My root and /dev is full.

root# df -h
Filesystem      Size  Used Avail Use% Mounted on
/dev/disk0s1s1  2.9G  2.9G     0 100% /
devfs            53K   53K     0 100% /dev
/dev/disk0s1s2   12G  1.8G   11G  16% /private/var
/dev/disk0s1s3   10M  2.0M  8.0M  20% /private/var/wireless/baseband_data

[2016-10-17 19:23] tghosth commented on #61
Full up disk appears to be a known issue after jailbreaking. Do some googling but on my device I had to install "stashing". Don't have the explanatory link handy.

[2016-10-17 19:36] ndoell commented on #61
I was able to clear some space and needle installed the necessary tools.  Finally list_apps was able to execute successfully.

Thank you for the help @tghosth

[2016-10-17 19:36] #61 closed

[2016-10-18 07:58] marco-lancini commented on #58
thanks, PR #57 has now been merged

[2016-10-18 07:58] #58 closed

[2016-10-19 09:48] marco-lancini commented on #61
@tghosth : where you following this?

https://www.reddit.com/r/jailbreak/comments/4ugzui/release_stashing_for_92933_get_more_space_on_your/

[2016-10-19 09:56] tghosth commented on #61
@marco-lancini, yeah thats the solution I am using...

[2016-10-19 15:32] ndoell commented on #61
@marco-lancini and @tghosth

Stashing install actually failed for me with this error: "failed in buffer_write(fd) (8, ret=-1)" .  I had to rename /.cydia_no_stash to /.cydia_no_stash- and restart cydia.  Installing stashing then worked.

http://www.redmondpie.com/fix-failed-in-buffer_writefd-8-ret-1-cydia-error-after-ios-9.3.3-jailbreak-heres-how/

[2016-10-19 15:39] marco-lancini commented on #61
thanks both! :)

[2016-10-20 07:58] marco-lancini commented on #26
Closing and moving it as a TODO in the _"New Features"_ kanban: https://github.com/mwrlabs/needle/projects/1

[2016-10-20 07:58] #26 closed

[2016-10-21 09:00] tghosth commented on #26
Hi @marco-lancini

Do you want me to have a look at this?

I can see the following places were a password will be displayed:
1) Setting password via a config file
2) Setting password manually
3) Displaying option values
4) When a command string is printed to screen when using DEBUG logging.

See my suggest treatment below
1) From config:
`[needle] > set PASSWORD hunter2` >> Password should be star

[2016-10-21 14:12] marco-lancini commented on #52
should be fixed in the latest release

[2016-10-21 14:12] #52 closed

[2016-10-21 14:17] marco-lancini commented on #26
1) Setting password via a config file: I agree with you, could be starred
2) Setting password manually: I'd leave it in clear text (for the user to check if it has entered correctly)
3) Displaying option values: definitely in clear text (the user needs to have a way to check if it's the correct one)
4) When a command string is printed to screen when using DEBUG logging: could be starred, but too c

[2016-10-22 04:30] ankushgoel27 opened #65 "GDB Issue"
## Issue
Unable to attach to process in IOS 9

needle][heap_dump] > run
[*] Checking connection with device...
[+] Already connected to: 192.168.0.6
[V] Creating temp folder: /var/root/needle/
[D] [REMOTE CMD] Remote Command: if [ -d /var/root/needle/ ]; then echo "yes"; else echo "no" ; fi
[+] Target app: com.snapdeal.ipad
[*] Launching the app...
[D] [REMOTE CMD] Remote Command: open com.snapdea

[2016-10-22 15:40] marco-lancini commented on #65
Hi @ankushgoel27, yes, we are aware of this issue related to gdb.
We are working on finding an alternative...

[2016-10-22 15:49] #65 closed

[2016-10-22 16:58] ankushgoel27 commented on #65
I am using JDB as an alternative and this functionality in needle will be amazing.

[2016-10-22 20:51] marco-lancini commented on #65
Ok, which version of JDB are you using currently? (and where you downloaded it?)
Also, what kind of integration would you like to see?

[2016-10-23 01:08] ankushgoel27 opened #66 "open_uri"
Hi,

i have a question about the open_uri module. Can you please guide me more regarding this module and what it is used for?

Thanks,

[2016-10-23 01:11] ankushgoel27 commented on #65
I apologize. it was LLDB,not JDB. I uploaded debugserver binary on the device and mapped the ports to attach  lldb from my machine to the process. I used this blog - http://versprite.com/og/ios-reverse-engineering-part-one-configuring-lldb/. its showing 404 right now.

[2016-10-23 01:13] ankushgoel27 commented on #65
http://codedigging.com/blog/2016-04-27-debugging-ios-binaries-with-lldb/ . this is another blog post which is similar

[2016-10-23 01:21] ankushgoel27 opened #67 "Clutch2 freezes"
## Issue

Clutch2 freezes and never comes out
### Expected behaviour

The module should run as expected but the Clutch2 command freezes

### Actual behaviour

Needle freezes on the Clutch2 command

### needle error logs

[code]

I ran the Clutch2 command seperately and was able to decrypt the app however Clutch2 freezes in the framework.

## Environment

Kali Linux
#### Workstation Operating Syste

[2016-10-23 23:00] marco-lancini commented on #65
Ok, I'll add it to the TODO list! ;)

[2016-10-23 23:04] marco-lancini commented on #66
`dynamic/ipc/open_uri` is a quick module that can be used to quickly invoke URI handlers.
Let's say that your target application registered the "`abcd`" protocol.
You then can invoke the app by calling that protocol (e.g., `abcd://something&param1=value1`).

Depending on how the application handles the URL, and the query string, you might be able to invoke other functions and/or extract data from

[2016-10-25 13:50] notEnaf opened #68 "binary/metadata does not show all URL handlers"
## Issue
Hi,
First of all: good job, I like this tool. I just have a comment/question:
I noticed that /binary/metadata module does not show all URL handlers that exist in Info.plist. As it displays only the URL schemes of the first URL Type in Info.pl, is that on purpose?

### Expected behaviour
Info.plist of VLC app (VLC for iOS 2.7.8) shows the following URL schemes. Therefore, it is expected to

[2016-10-25 15:00] marco-lancini commented on #68
Hi @notEnaf, nice spot! And also thanks for the proposed fix.
This has now been fixed in the `develop` branch

[2016-10-25 15:00] #68 closed

[2016-10-27 12:25] Andy10101 opened #70 "cannt find lipo"
## Issue
cannt find lipo
### Expected behaviour
[needle][metadata] > run
[*] Checking connection with device...
[+] Connected to: 127.0.0.1
[*] Target app not selected. Launching wizard...
[+] Apps found:
		0 - P01.tencent.xin
		1 - com.az.azdribbble
Please select a number: 1
[+] Target app: P01.tencent.xin
[*] Retrieving app's metadata...
[!] Exception: sh: lipo: command not found.
[needle][metad

[2016-10-27 12:29] marco-lancini commented on #70
have you run needle with `set SETUP_DEVICE True`, so to install all the dependencies on the device?

[2016-10-28 03:03] Andy10101 commented on #70
Oh I forgot  set SETUP_DEVICE True， thanks

[2016-10-28 08:07] tghosth commented on #26
Ok so I ended up doing some work on this before your comment and I have submitted a pull request #71 that requests the status below:

1) From config:
`[needle] > set PASSWORD hunter2` >> Can't star out password without fundamentally changing how underlying code libraries work so I have left this.
`PASSWORD => hunter2` >> Password starred out.

2) Manually
`[needle] > set PASSWORD hunter2` >> Can't

[2016-11-07 23:44] dhaugh opened #72 "More insightful reporting for the static code analysis"
Currently, the static/code_checks module only outputs lines of file with no context around the issue itself. Additional documentation could make it easier for non security minded developers to use the static analysis functionality to assess and improve their own applications.

Example:
password_references - it is insecure to hard code passwords in applications that will be installed on end user de

[2016-11-09 07:14] #11 closed

[2016-11-09 09:19] security-prince opened #73 "Issue in SSH Connection Establishment"
I am not able to connect to ssh via needle,whereas when i am connecting via ssh in my local machine i am able to establish a connection with my iphone.
Workstation Details:
iOS 9.0.2(jailbroken)
OS: Kali Linux Rolling edition

Attaching the scenario of my workstation when i am trying to establish connection with my device via ssh
![screenshot from 2016-11-09 14-20-57](https://cloud.githubuserconte

[2016-11-09 16:33] marco-lancini commented on #73
Hi, as you can see from the screenshot above, the authentication failed.
Be sure to set your device's password within needele:

[code]

[2016-11-09 20:30] eranvak opened #74 "cannot get the refreshed list of applications"
## Issue
Hey, i'm trying to execute the binary/strings method on my connected device but the script could not extract the application list from my device. screenshots attachd
### Expected behaviour
Tell us what should happen.

### Actual behaviour
Tell us what happens instead.

### Steps to reproduce
1.
2.
3.

### needle error logs
Ensure verbose and debug mode are enabled:
[code]

## Environment

[2016-11-09 22:00] TheBananaStand commented on #67
After some troubleshooting, it seems that this is caused by the `exec_command` function in `paramiko`. Essentially, the needle `_exec_command_ssh` function in `/needle/core/device/device.py` tries to read from stdout, stdin and stderr. Unfortunately, all three channels remain open and never receive an EOF or timeout when executing the predefined Clutch(2) commands. This may be due to the redirecti

[2016-11-10 04:08] ejohn20 opened #75 "iOS Simulator Support"
## Enhancement
Add support for testing and learning how to use needle modules with the apps installed in the iOS Simulator.

### Expected behaviour
For example, setting the IP address to "Simulator" or adding a new option for simulator path could have needle modules run against the apps installed in the simulator.

### Benefits
This could make needle much easier to use and test in controlled envir

[2016-11-10 06:15] security-prince commented on #73
I tried it but all i can see is this :
![screenshot from 2016-11-10 11-44-12](https://cloud.githubusercontent.com/assets/5870952/20166486/343cf2b8-a73b-11e6-9fb9-93574976f232.png)

[2016-11-10 15:54] TheBananaStand commented on #67
This is a pretty hacky fix, but you can patch `_exec_command_ssh` in `/needle/core/device/device.py` by inserting the following code into line 112 (courtesy of [Stack Overflow](http://stackoverflow.com/questions/35266753/paramiko-python-module-hangs-at-stdout-read)):
[code]

I'm holding off on a pull request in hopes that MWR has a more efficient fix/answer 😄

[2016-11-10 17:12] tghosth opened #77 "keychain_dump failing with Exception"
## Issue

keychain_dump was failing with an Exception due to invalid characters in the plist file.

I have done the following and submitted as PR #76:
- Added the additional invalid characters to the list to be removed
- Revamped this code to make it easier to add additional invalid characters
- Added an explanation of the special characters because it took me a while to figure out what the encodi

[2016-11-11 13:56] javixeneize opened #78 "error on [REMOTE CMD] Remote Command: /bin/su mobile -c /usr/bin/uicache in IOS8"
Hi

I am having an error when running binary/strings function in an IOS8 device from a Mac

[D] [REMOTE CMD] Remote Command: /bin/su mobile -c /usr/bin/uicache

  File "/Users/javi/needle/core/device/device.py", line 120, in _exec_command_ssh
    raise Exception(err_str)
Exception: sh: /bin/su: No such file or directory

------------------------------------------------------------
[!] Exception: s

[2016-11-12 18:28] marco-lancini commented on #73
within Needle, you can use the `shell` command to obtain a shell on the device, without having to type `ssh user@device`.

I suggest you to read Needle's documentation before proceeding: https://github.com/mwrlabs/needle/wiki

[2016-11-12 18:28] #73 closed

[2016-11-12 18:30] marco-lancini commented on #74
Hi @eranvak, from the error code you posted you can see that `plutil` is not installed on device. You can install it manually using Cydia, but if you want to install all the dependencies at once, Needle can help by setting `set SETUP_DEVICE True`

[2016-11-12 18:30] #74 closed

[2016-11-12 21:08] marco-lancini commented on #77
Thanks a lot, awesome job as always :)

[2016-11-12 21:08] #77 closed

[2016-11-12 21:26] marco-lancini commented on #78
Hi @javixeneize, that line comes from this line block:

[code]

Which refresh the cache containing the list of installed apps on device.
I've never occurred into that error. Can you provide more details? (what module where you trying to load, iOS version, full log with `set DEBUG True` enabled, etc)

[2016-11-13 22:40] javixeneize commented on #78
Hi Marco

Yes, i understand, but i cant see why it is needed to run that module

As requested, i am running needle from a macosx (el capitan) in an ios8
device jailbroken with taig. I am using binary strings module, but i think
the same call is done in every method

The debug error is as attached. The path for the su binary doesnt exist

Thanks

El El sáb, 12 nov 2016 a las 21:26, Marco Lancini <n

[2016-11-15 21:53] marco-lancini commented on #61
I wrote a small writeup on the topic: http://www.marcolancini.it//2016/blog-ios9-jailbreak/

[2016-11-17 23:55] #66 closed

[2016-11-19 17:54] marco-lancini commented on #67
Hi @TheBananaStand, sorry for the delay!
I think I've found a cleaner solution: it is possible to set a timeout in paramiko's `exec_command`.

`self.conn.exec_command(cmd, timeout=30)`

Please let me know if this solve your issue! (the fix has been pushed to the `develop` branch)

[2016-11-19 18:01] marco-lancini commented on #78
The command: `/bin/su mobile -c /usr/bin/uicache` is used by  Needle to refresh the device's list of installed apps.
Are you sure you don't have a `su` binary in the `/bin` folder?

[2016-11-19 18:03] javixeneize commented on #78
Not in el capitan

El El sáb, 19 nov 2016 a las 18:01, Marco Lancini <notifications@github.com>
escribió:

[2016-11-19 18:03] marco-lancini commented on #75
Hi @ejohn20, I see your point, and to be fair you are not the first one to ask this feature.
However, what can you actually perform on a Simulator?
A simulator is basically a "virtual filesystem" (allow me the term) hosted on your laptop.
I foresee that most of the modules are not going to work on it.

But I'm keen on hearing your opinion on this!

[2016-11-19 18:04] marco-lancini commented on #75
Paging also @tghosth, what do you think?

[2016-11-19 18:05] marco-lancini commented on #78
I was referring on your device: the '/bin/su' binary should be present on your jailbroken device

[2016-11-19 18:07] javixeneize commented on #78
Ah right. Let me check on monday

El El sáb, 19 nov 2016 a las 18:05, Marco Lancini <notifications@github.com>
escribió:

[2016-11-19 18:35] TheBananaStand commented on #67
I tried leveraging the native timeout option for the command, but it simply raises a timeout or socket.timeout error and denies future reads/writes from the open channels.

[2016-11-20 09:35] tghosth commented on #75
I am not familiar with the iOS simulator but having had a quick look, my thoughts are as follows:

- I agree that it would be nice to have a way to test without a jailbroken device. (Or even better, a way to get root access on any device without the jailbreaking craziness!!!)
- It seems like a lot of modules depend on additional binaries installed on the device so would not be usable in the simula

[2016-11-20 10:59] marco-lancini commented on #72
@dhaugh thanks for the suggestion, I agree with you as this could be a good enhancement for non security minded developers.

Do you already have a list of descriptions you want to add to the different categories of issues?

[2016-11-20 11:06] marco-lancini commented on #67
mmmh ok, could you please post a full Needle's error log from the start (when you launch it) till when it hangs? The bundle/app name would be helpful as well (if possible)

[2016-11-20 15:41] ejohn20 commented on #75
I agree with all of the above. Maybe we start with the most beneficial modules for the file system (e.g. sceenshots, plist files, sqlite files, keychain, extracting the .app files, etc). I can assist as well, I should have some bandwidth in the next month or so.

Question - would you rather create specific modules for the simulator (e.g. /simulator/caching/keyboard_autocomplete) or build the simul

[2016-11-20 15:55] ejohn20 commented on #75
Here is the list of current modules that I think will theoretically work with the simulator. Ordering from what I "think" would be the easiest to the more complicated:

storage/caching/keyboard_autocomplete
storage/caching/screenshot
storage/data/files_binarycookies
storage/data/files_cachedb
storage/data/files_plist
storage/data/files_sql
storage/data/keychain_dump

static/code_checks

binary/cla

[2016-11-21 09:29] javixeneize commented on #78
Nevermind.... i see what is the problem now ;) I forgot i renamed the su binary to bypass jailbreak detection

Thanks

[2016-11-21 09:29] #78 closed

[2016-11-21 15:50] tghosth opened #80 "Issue reading special characters in paramiko (related to plist processing?)"
## Issue
Hi @marco-lancini, there is some sort of issue reading special characters in paramiko. My guess is that the root cause is the way that plists are being converted to XML and because I know you did some work on the plist processing recently, I was hoping you could take a look :)

### Expected behaviour
needle should show the list of applications installed on the device.

### Actual behaviou

[2016-11-21 15:55] tghosth opened #81 "Module to install SSL Pinning Kill Switch"
## Enhancement

### Expected behaviour
Add a module which uses the instructions from [here](http://resources.infosecinstitute.com/ios-application-security-part-36-bypassing-certificate-pinning-using-ssl-kill-switch/) to install the SSL Pinning Kill Switch from [here](https://github.com/nabla-c0d3/ssl-kill-switch2/releases).

### Actual behaviour
This does not currently exist

### Steps which expla

[2016-11-21 20:55] marco-lancini commented on #81
hey, I was waiting to add it to the list of tools installed with `SETUP_DEVICE` cause I was thinking of adding a Frida script to replace it completely...

[2016-11-21 20:56] marco-lancini commented on #80
Yes, I was experiencing some issues as well. Can you please confirm you are using the latest version pulled from `develop`?

[2016-11-22 06:49] tghosth commented on #80
ok so interestingly I just pulled the latest develop code from the mwrlabs repository and I got an error somewhere else, after selecting the discount bank application in `binary/metadata`. I think it is still related though.

[code]

[2016-11-22 07:03] tghosth commented on #81
So I have had difficulty getting Frida to work right which is why I prefer to use the Kill Switch tweak which is much more straightforward.

[2016-11-22 09:03] abhinashjain opened #83 "Heap_Dump.py"
## Issue
More of a solution and less of an issue.
64bit arch binary could not be dumped. It has nothing to do with the iOS version used.

### Expected behaviour
Code in Heap_Dump.py will work only with 32-bit binaries regardless of the iOS version 8 or 9.
Check if device is 64bit arch, then try to -thin the binary (if FAT).

### Actual behaviour
When unable to dump the memory for the apps. The com

[2016-11-22 12:23] tghosth commented on #83
Duplicate of issue #65?

[2016-11-23 04:30] abhinashjain commented on #83
Issue #65 says that the issue is with gdb on iOS9. Whereas #83 says that
the gdb problem has nothing to do with the iOS version. The reason gdb
fails has to do with the 64bit arch application binaries. If you run the
heapdump for 32bit binaries it will work even on iOS9.

On Nov 22, 2016 5:53 PM, "tghosth" <notifications@github.com> wrote:

Duplicate of issue #65 <https://github.com/mwrlabs/needle

[2016-11-23 21:04] marco-lancini commented on #80
ok, I reverted the commits related to "_[FIX] Invalid characters when parsing plist files_".
Can you try pull `develop` now and see if you can at least get the app's metadata?
If yes, I'll try then to re-add the `sanitize_plist` function

[2016-11-23 21:06] marco-lancini commented on #83
@abhinashjain I agree, we could thin the binary first

[2016-11-24 23:10] marco-lancini commented on #81
Ok, I should be able to push it to `develop` tomorrow!

[2016-11-25 03:31] AloneMonkey opened #84 "Exception: sh: lipo: command not found."
### needle error logs
Ensure verbose and debug mode are enabled:
[code]

[2016-11-25 07:54] marco-lancini commented on #84
Hi @AloneMonkey, try to see if this solve the issue: #70

[2016-11-25 09:05] AloneMonkey commented on #84
`set SETUP_DEVICE True` but some package install failed,  and still run with error

[code]

which package this tool in?

[2016-11-25 09:10] marco-lancini commented on #84
can you post the full error log (enabling `set DEBUG True` first), so I can try troubleshoot it please?
Anyway, you should be able to find `lipo` in: `org.coolstar.cctools`

[2016-11-25 10:45] B4rD4k opened #85 "Clutch2 executable"
Hey,

I'm running needle on Kali linux i installed all the dependencies in the linux and the IOS device.
I'm getting an exception that you can see in the ss. please help

![capture](https://cloud.githubusercontent.com/assets/7777720/20622721/e0f0fdce-b30c-11e6-866c-76c60e47572a.PNG)

[2016-11-25 12:18] marco-lancini commented on #81
Hi @tghosth, this has now been pushed to `experimental`.
I should be able to push it (alongside the Theos integration) to `develop` soon

[2016-11-25 12:18] #81 closed

[2016-11-25 12:19] marco-lancini commented on #80
Reverting the changes fixed the issue.
I'll have another go to try and sanitize plist files.

[2016-11-25 12:20] marco-lancini commented on #85
Hi @B4rD4k,
to fix this try the following:

[code]

Please let me know if this helps

[2016-11-25 14:18] B4rD4k commented on #85
working..
10x

[2016-11-25 15:27] #85 closed

[2016-11-25 23:35] marco-lancini commented on #75
Hi @ejohn20, @tghosth: I had a thought about it.

* `static/code_checks`: this does not need porting since it is a `StaticModule` (doesn't need a connection to a device)
* `storage/*`: could work but we will have to move the tooling from the device to the workstation (i.e., run `plutil` on the workstation rather on the device) + we will have to update all the locations (I don't think we can reuse

[2016-11-26 13:06] B4rD4k opened #88 "Frida_shell is not spawned"
Hello again.
I cant spawn a frida shell on some application in my IOS screenshot attached.

![capture](https://cloud.githubusercontent.com/assets/7777720/20640562/0b62ece2-b3ea-11e6-9980-db2439419c19.PNG)

[2016-11-26 14:52] marco-lancini commented on #88
Hi @B4rD4k, when opening an issue, could you please post the **full** error log? (by setting `set DEBUG True`)

[2016-11-26 14:58] B4rD4k commented on #88
sure,

attaching it right now :)
![capture2](https://cloud.githubusercontent.com/assets/7777720/20641096/3baee496-b3f9-11e6-9e64-ddc782bb959d.PNG)

![capture](https://cloud.githubusercontent.com/assets/7777720/20641095/3617b47c-b3f9-11e6-9033-aa5f91731adc.PNG)

[2016-11-26 15:01] marco-lancini commented on #88
thanks! mmh, this error is different from the one you posted above.
Could you please check that both instances of Frida (the one running on your device and the one running on your workstation) are aligned to the same version?

[2016-11-26 15:07] B4rD4k commented on #88
My frida linux client is : Frida 8.1.14
how do i check the frida-server version?

BTW, by using frida -R nameofapp I am succeeding to spawn a shell

[2016-11-26 15:08] marco-lancini commented on #88
You can get a shell on the device and then `frida-server --version`

[2016-11-26 15:27] B4rD4k commented on #88
OK, after some investigation i did the following:

1. download frida-server https://build.frida.re/frida/ios/bin/frida-server to my device at /usr/sbin/ folder
2. i tried with needle to spawn a shell and do not suceed
3. i tried manualy with frida -U flashlight and it works

just want to mentioned something more, when n i enable the setup_device flaf to true and let him install sth my device is re

[2016-11-26 15:29] B4rD4k commented on #88
this is my error with debug mode from needle

![image](https://cloud.githubusercontent.com/assets/7777720/20641308/cf59ebf6-b3fd-11e6-814c-074fdb7fa60d.png)

[2016-11-26 15:29] marco-lancini commented on #88
Yes, in the latest release it will install also SSL Kill Switch, and at the end it needs to respring the device (the device is not rebooted, only SpringBoard is).

Regarding your issue with Frida, is the app on foreground?

[2016-11-26 15:29] B4rD4k commented on #88
yep

[2016-11-26 15:41] B4rD4k commented on #88
Ok actually i solved this..

just replace the -R with -U (dont ask me why just dont working on this version of frida)

10x man. really good tool!!!

[2016-11-26 22:54] #88 closed

[2016-11-27 02:09] ejohn20 commented on #75
Perfect - I think that sounds like a great plan going forward.

[2016-11-27 07:05] tghosth commented on #75
So I agree with the `core/device/simulator.py` element but would having separate simulator modules lead to code duplication? In an ideal world, calls to methods in `remote_op` would be automatically directed to the simulator or the device depending on what the current target is. In practice, I don't know whether it would work that cleanly...

[2016-11-27 19:11] marco-lancini commented on #75
@tghosth, good point. We could use a framework variable to hold the type of "device" (real or simulator), and then use that to dispatch to the relevant wrapper (`device.py` or `simulator.py`) from within `remote_op`

[2016-12-01 21:39] TheBananaStand commented on #67
The Needle error logs don't shed more/detailed light on the issue, unfortunately. When I add the `timeout` option to `exec_command`, it simply raises the Timeout error. If the `timeout` option is not used, the command hangs indefinitely until Python/Needle is killed. Again, this is an issue specific to either tcprelay/Paramiko or how Clutch2 is being called. The SSH channels remain open perpetuall

[2016-12-01 22:24] marco-lancini commented on #67
@TheBananaStand, could you please post a full Needle's error log from the start (when you launch it) till when it hangs? The bundle/app name would be helpful as well (if possible)

[2016-12-12 13:09] Lavikw commented on #84
I have the same issue. I used SETUP_DEVICE and there were some errors in the setup.

Attached is the log:
[V] Setting up SSH connection...
[+] Connected to: 127.0.0.1
[V] Creating temp folder: /var/root/needle/
[D] [REMOTE CMD] Remote Command: if [ -d /var/root/needle/ ]; then echo "yes"; else echo "no" ; fi
[*] Configuring device...
[D] [REMOTE CMD] Remote Command: which apt-get
[D] [REMOTE CMD]

[2016-12-13 11:13] HenryHoggard opened #92 "Binary/Metadata Doesn't work if CFBundleDisplayName is not set"
## Issue

Note: Pathnames and application names have been obscured or modified.

### Expected behaviour

Binary/metadata module should return parsed plist entries.

### Actual behaviour

If the plist attribute `CFBundleDisplayName` is not set, the module `binary/metadata` will not work.

### Steps to reproduce
1. Download application from App Store that doesn't have CFBundleDisplayName set in plis

[2016-12-13 11:28] marco-lancini commented on #92
Hi @HenryHoggard, I pushed a more global fix for this issue (which might cover even other atrributes). Could you please test if it works as expected? It has been pushed to `develop` now

[2016-12-13 11:28] #92 closed

[2016-12-13 11:30] HenryHoggard commented on #92
Just tested and it works.

[2016-12-13 13:02] theHackPot opened #94 "Needle hangs when unpacking IPA"
## Issue
Needle hangs when decrypting IPA

### Expected behaviour
Return binary strings for targeted app

### Actual behaviour
Needle hangs @ "Unpacking the decrypted IPA"

### Steps to reproduce
1. python needle.py
2. use binary/strings
3. run
4. Select target app number

### needle error logs

[code]

## Environment

#### Workstation Operating System
MAC OSX (EL Capitan
#### Python Version
2.7.1

[2016-12-13 13:28] marco-lancini commented on #94
Hi @theHackPot, can you please check if `unzip` is installed on your device?

[2016-12-13 13:31] theHackPot commented on #94
Yes, unzip is installed

[2016-12-13 15:26] theHackPot commented on #94
@marco-lancini I get the following error when setting SETUP_DEVICE True. Not sure if it is related

[needle] > set SETUP_DEVICE True
SETUP_DEVICE => True
[needle] > use binary/strings
[needle][strings] > run
[*] Checking connection with device...
[V] Connection not present, creating a new instance
[V] Setting up USB port forwarding on port 2222
[V] Setting up SSH connection...
[+] Connected to: 12

[2016-12-13 15:28] HenryHoggard opened #95 "Module "script_dump-ui" doesn't work (Script terminated abruptly)"
## Issue

Note: Application names are modified.

### Expected behaviour
The module `script_dump-ui` should dump the UI hierarchy.

### Actual behaviour

The module returns the error `Script terminated abruptly`.

### Steps to reproduce
1. `use script_dump-ui`
2. `run`

### needle error logs

[code]

## Environment

#### Workstation Operating System
Debian

#### Python Version
2.7

#### Device iOS

[2016-12-13 15:31] marco-lancini commented on #95
Hi @HenryHoggard, does the application have any kind of anti-hooking protection?

[2016-12-13 15:33] HenryHoggard commented on #95
@marco-lancini It has no protections implemented.

[2016-12-13 15:38] HenryHoggard commented on #95
@marco-lancini Found the fix do you want to push it or shall I create a PR.

**Old:**
[code]

**Patch:**
[code]

[2016-12-13 15:40] marco-lancini commented on #95
As you prefer, you can push it if you have already fixed it :)

[2016-12-14 23:15] marco-lancini commented on #95
thanks @HenryHoggard, this has now been pushed to `develop`

[2016-12-14 23:15] #95 closed

[2016-12-15 15:33] throwawaynow commented on #2
Currently having same issue with Needle v0.1.1 [mwr.to/needle]

[2016-12-15 15:35] marco-lancini commented on #2
In order to debug this issue, we require more information.

Ensure `VERBOSE` and `DEBUG` mode are enabled, this will provide us with more detailed needle logs:
[code]

Once you have this information, please attach the log files to this thread and we can assist further.

[2016-12-15 15:42] throwawaynow commented on #2
Thank you for the quick reply:
------------------------------------------
[needle][strings] > run
[D] Setup local output folder: /Users/xxx/.needle/output
[*] Checking connection with device...
[+] Already connected to: x.x.x.x
[V] Creating temp folder: /var/root/needle/
[D] [REMOTE CMD] Remote Command: if [ -d /var/root/needle/ ]; then echo "yes"; else echo "no" ; fi
[D] [REMOTE CMD] Remote Comma

[2016-12-15 15:45] marco-lancini commented on #2
what iOS version is your device running?

[2016-12-15 15:49] throwawaynow commented on #2
iOS 9.2 (with pangu), I had some issues with the installation process so maybe I should reinstall and try again.

[2016-12-15 16:22] marco-lancini commented on #2
reinstall what?

[2016-12-26 03:41] illnino opened #100 "Needle failed to connect to iOS Device via USB"
## Failed to install required tools on iOS device

### Expected behaviour
With `SETUP_DEVICE=True`, needle should install required tools on the iOS device.

### Actual behaviour
Error returned, stating `Exception: Could not open a connection to 127.0.0.1. AttributeError - 'EntryPoint' object has no attribute 'resolve'`

### Steps to reproduce
1. Install required tools on MacOS
2. Connect Jailbroke

[2016-12-27 09:28] illnino commented on #100
Downgrade cryptography should fix the problem.

[code]

[2016-12-27 09:28] #100 closed

[2017-01-03 09:46] tghosth commented on #80
Hi @marco-lancini, please can this issue be reopened as it occurs again following the conversion to bplist.

[2017-01-03 11:52] tghosth opened #102 "Errors parsing a plist file which itself contains a nested binary plist file"
Hi, @marco-lancini. I have a plist file which appears to contain another binary format plist file nested within it.

bplist appears to convert the file to a dict object with the nested file staying in an encoded binary format, This is then causing errors when the file is serialized to JSON because it cannot convert the encoded binary to an appropriate format.

Have you seen anything like this?

My

[2017-01-03 13:20] marco-lancini commented on #102
Hi @tghosth, yes please!
Give it a go! :)

[2017-01-03 13:21] marco-lancini commented on #80
plist parsing errors might be because of this:
https://github.com/libimobiledevice/libplist/issues/83

[2017-01-03 13:43] tghosth commented on #102
Opened PR #105

[2017-01-03 14:11] #102 closed

[2017-01-03 14:11] tghosth commented on #80
Hi @marco-lancini, I have dug into this a little more and discovered the following. Unfortunately, it seems I have misdiagnosed this issue due to my inexperience with python.

The binary name in this app has Hebrew characters in it. Since we are using python 2, all string literals are assumed to be ascii. This means, if we try and do something like `'Binary name is: {}'.format(binary_name)`, it fa

[2017-01-04 10:41] pragyan1994 opened #106 "root permission denied : for module binary/install"
## Issue
Even after putting the ipa in the folder specified i.e /var/root/needle/app.ipa, the application is not able to install the ipa.

### Expected behaviour
Automatically upload and install an IPA on the device

### Actual behaviour
Gives an error saying : root permission denied

### Steps to reproduce
1. show modules
2.use  binary/install
3.set path for IPA
4.run

### needle error logs
needl

[2017-01-04 10:43] marco-lancini commented on #106
In order to debug this issue, we require more information.

Ensure `VERBOSE` and `DEBUG` mode are enabled, this will provide us with more detailed needle logs:
[code]

Once you have this information, please attach the log files to this thread and we can assist further.

[2017-01-04 12:32] pragyan1994 commented on #106
needle] > use binary/install
[needle][install] > /Users/akanksha.bana/Desktop/ipa/YOVOPLE.ipa
[*] Executing Local Command: /Users/akanksha.bana/Desktop/ipa/YOVOPLE.ipa
[D] [LOCAL CMD] Local Command: /Users/akanksha.bana/Desktop/ipa/YOVOPLE.ipa
/bin/sh: /Users/akanksha.bana/Desktop/ipa/YOVOPLE.ipa: Permission denied

[2017-01-04 12:35] marco-lancini commented on #106
Hi @pragyan1994, I suggest you to read the project wiki (https://github.com/mwrlabs/needle/wiki) to learn how to use needle :)

In your example, I think you would like to do:

[code]

[2017-01-04 12:36] pragyan1994 commented on #106
IPA is set
it asks me to put the ipa inside var/needle/ to which i dont have a permission

[2017-01-04 12:37] marco-lancini commented on #106
Can you please post the full error log? I don't see such error from the log you posted above

[2017-01-04 12:39] pragyan1994 commented on #106
Installing binary...
[D] [REMOTE CMD] Remote Interactive TTY Command: ipainstaller /var/root/needle/app.ipa
Warning: Permanently added '[localhost]:2229' (RSA) to the list of known hosts.
File not found at path: /var/root/needle/app.ipa.
Please specify any IPA file(s) to install.
Connection to localhost closed.
[needle][install] >

if i directly try to install from any random space of my system, d

[2017-01-04 12:42] marco-lancini commented on #106
You don't need to manually put the IPA anywhere on device, after you `set IPA path/on/your/local/workstation`,   needle will automatically push the IPA on device and install it

[2017-01-04 12:43] pragyan1994 commented on #106
Then this is the error i am getting anyway

Options:
  Name  Current Value                                                      Required  Description
  ----  -------------                                                      --------  -----------
  IPA   /Users/pragyan.a.paramita/Desktop/DamnVulnerableiOSApp\ \(1\).ipa  yes       Full path of the IPA to install

[needle][install] > run
[*] Checkin

[2017-01-04 12:45] marco-lancini commented on #106
ok, this makes sense. Can you please try to rename the IPA so to remove the `(1)` bit?

[2017-01-04 13:16] kryptoknight13 commented on #106
yes, it works after renaming the ipa (removing spaces/special characters).
thanks!

on different note: i would like to suggest one enhancement, where either you can implement a script for removing the unwanted spaces/special characters in ipa name OR throw an error to user notifying for renaming the application name.
let me know if i need to raise separate enhancement request?

thanks in advance.

[2017-01-04 20:52] marco-lancini commented on #80
@tghosth, you might want to have a look at this as well: https://github.com/mwrlabs/needle/issues/106#issuecomment-270367760

[2017-01-05 05:33] kryptoknight13 opened #107 "unable to get class-dump of application."
## Issue
not able to get class-dump

### Expected behaviour
should be able to view class-dump for application selected after "run".

### Actual behaviour

[code]

### Steps to reproduce
1. show modules
2. use binary/class_dump
3. run
4. selecting "0" for Legal Robot application (https://itunes.apple.com/us/app/legal-robot/id1072408741?mt=8)

### needle error logs
Ensure verbose and debug mode are

[2017-01-05 06:20] kryptoknight13 opened #108 "The framework doesn't have functionality to provide an option for the users to select the app when trying to re-run any module"
## Issue
The framework doesn't have functionality to provide an option for the users to select the app when trying to re-run any module

### Expected behaviour
Provide an option to select/set the application at any given point of time

### Actual behaviour
Unable to select the different application when an app is already selected (For e.g. : Please select a number: 18)

### Logs

[code]

### Steps

[2017-01-05 10:16] marco-lancini commented on #108
Hi @kryptoknight13, this is intended behaviour: needle is supposed to be run against a single application at a time.

In case you want to change app, you can, from the main menu, unset the target application:

[code]

This will allow you to choose another target app.

You can find more info in the Wiki: https://github.com/mwrlabs/needle/wiki/Quick-Start-Guide

[2017-01-05 13:15] #107 closed

[2017-01-05 13:16] #108 closed

[2017-01-05 13:39] kryptoknight13 commented on #108
I am unable to unset the APP.
Also, i tried setting new APP, still facing same issue.

###Log

[needle] > set APP com.bms.who
APP => com.bms.who
[needle] > use binary/compilation_checks
[needle][compilation_checks] > run
[*] Checking connection with device...
[+] Already connected to: localhost
[V] Creating temp folder: /var/root/needle/
[+] Target app: com.bms.who
[*] Retrieving app's metadata...

[2017-01-05 13:43] kryptoknight13 commented on #107
i understand the limitation, however my concern is different.
Can we show a proper message stating that binary is encrypted and class-dump is not accessible instead of throwing unwanted error?

[2017-01-05 13:54] marco-lancini commented on #108
to unset the app you have to go back to the main menu, that means if you are in a module you'll have to exit it first:

[code]

[2017-01-06 05:59] kryptoknight13 commented on #67
I am facing the similar issue: Clutch2 Freezes without any time out. Sharing logs i got, had to stop the needle after waiting around 10mins.

###logs

AMAC02RN1S9G8WP:needle akanksha.bana$ python needle.py

             __   _ _______ _______ ______         _______
             | \  | |______ |______ |     \ |      |______
             |  \_| |______ |______ |_____/ |_____ |______

[2017-01-09 04:17] C-YanHua commented on #67
I am also facing the same problem. The current possible fix for this is as proposed by @TheBananaStand . This is actually a prevailing issue of paramiko; Just have to wait for a possible patch by paramiko to fix this I guess...

[2017-01-09 09:09] pragyan1994 commented on #106
[?] Trying to continue anyway...
[V] Uploading binary: /Users/pragyan.a.paramita/Desktop/DVIA.ipa
[V] Installing binary...
Warning: Permanently added '[localhost]:2226' (RSA) to the list of known hosts.
File not found at path: /var/root/needle/app.ipa.
Please specify any IPA file(s) to install.
Connection to localhost closed.
[needle][install] >

i am getting this error still .

[2017-01-09 09:12] pragyan1994 commented on #106
[?] Trying to continue anyway...
[V] Uploading binary: /Users/pragyan.a.paramita/Desktop/DVIA.ipa
[V] Installing binary...
Warning: Permanently added '[localhost]:2226' (RSA) to the list of known hosts.
File not found at path: /var/root/needle/app.ipa.
Please specify any IPA file(s) to install.
Connection to localhost closed.
[needle][install] >

i have updated needle as well, but then i am still

[2017-01-09 09:15] marco-lancini commented on #106
In order to debug this issue, we require more information.

Ensure `VERBOSE` and `DEBUG` mode are enabled, this will provide us with more detailed needle logs:
[code]

Once you have this information, please attach the log files to this thread and we can assist further.

[2017-01-09 09:25] pragyan1994 commented on #106
[needle] > use  binary/install
[needle][install] > show info

      Name: Install IPA
      Path: modules/binary/install.py
    Author: @LanciniMarco (@MWRLabs)

Description:
  Automatically upload and install an IPA on the device

Options:
  Name  Current Value  Required  Description
  ----  -------------  --------  -----------
  IPA                  yes       Full path of the IPA to install

op/

[2017-01-09 09:32] marco-lancini commented on #106
Please ensure both VERBOSE and DEBUG mode are enabled

[2017-01-10 06:13] pragyan1994 commented on #106
Yes all of them are enabled

[2017-01-17 13:39] smhome commented on #107
Hi @marco-lancini,
I have a question in this context: I am getting the same error ("Segmentation fault: 11"). Is this because the target app is composed of mixed obj-c and swift?

[2017-01-17 14:33] smhome opened #111 "Installation of wrong frida package on 32 bit devices"
## Issue
Wrong frida package on 32 bit devices gets installed.

### Expected behaviour
The installation of FRIDA should be dependent on the CPU architecture of the iOS device (i.e. 32 or 64 bit). In case of a 64 bit device the package "re.frida.server" should be installed whereas package "re.frida.server32" should be applied for 32 bit devices.  Both are available from repo "https://build.frida.re

[2017-01-18 12:56] tghosth commented on #80
Hi @marco-lancini, I had a quick look at [#106 (comment)](https://github.com/mwrlabs/needle/issues/106#issuecomment-270367760) but that seems to be a separate problem.

Do you have any thoughts on how we can fix this unicode issue? What if we added `from __future__ import unicode_literals` to the top of every file but inside a conditional that allows disabling the import if it causes other issues

[2017-01-18 19:28] n0x00 opened #112 "IOS 10.1 (I know it's not ready yet, but thought i'd share some output)"
## Issue
hey, If you need anyone to work through Needle on IOS 10.1 I have a iPhone and  iPad Pro here ready to go

I just need to know what information is useful to you and how best I acquire it

### Expected behaviour

[code]

run to list apps

### Actual behaviour
Version not supported

### Steps to reproduce
1. Jailbreak iOS 10.1
2. Install Needle from github
3. Run!

### needle error logs

[c

[2017-01-18 21:19] marco-lancini commented on #2
close due to inactivity

[2017-01-18 21:19] #2 closed

[2017-01-18 21:20] marco-lancini commented on #72
Hi @dhaugh, any update on this?

[2017-01-18 21:21] marco-lancini commented on #75
Hi @ejohn20, any update on this?

[2017-01-18 21:22] marco-lancini commented on #84
Hi @AloneMonkey, did you manage to solve the issue?

[2017-01-18 21:25] marco-lancini commented on #111
Hi @smhome, thanks for the suggestion. We will surely going to add a fix for this

[2017-01-18 21:32] marco-lancini commented on #94
Hi @theHackPot, regarding your first issue: so Needle hangs after it prints this line?

[code]

Regarding your second log dump, could you please enable DEBUG mode?

[2017-01-18 21:35] marco-lancini commented on #106
Hi @kryptoknight13, yes please, open a different request regarding https://github.com/mwrlabs/needle/issues/106#issuecomment-270367760

[2017-01-18 21:36] marco-lancini commented on #106
Hi @pragyan1994, no, even in your last dump I can't see any DEBUG output. Could you please enable it and re-post the full log please?

[2017-01-18 21:40] marco-lancini commented on #80
Ok I finally had the time to get a proper look: you're right that's a different issue.

Regarding the unicode issue, as you said adding ```from __future__ import unicode_literals``` to the top of every file could have a pretty massive impact and unforeseen side effects...

What about treating (forcing) just the content of plist files as unicode?

[2017-01-18 21:42] marco-lancini commented on #67
@TheBananaStand I think we all agree yours is the best solution available! Are you willing to submit a PR?

[2017-01-18 23:58] marco-lancini commented on #112
Hi @n0x00, that would be amazing! At the moment we don't have any jailbroken device running 10.X 😢

Extending needle's core to support iOS 10 should be pretty straightforward.
These are a few things that needs to be modified:

## constants.py

* add a variable `DEVICE_PATH_APPLIST_iOS10` : https://github.com/mwrlabs/needle/blob/master/needle/core/utils/constants.py#L62
* add a variable `DEVICE_PAT

[2017-01-19 06:21] tghosth commented on #80
I cannot remember if there were other places where I was having unicode issues but plists would be a good place to start, I will try and look adding this when I get some time :)

[2017-01-19 06:24] pragyan1994 commented on #106
[needle] > show options

  Name          Current Value  Required  Description
  ------------  -------------  --------  -----------
  APP                          no        Bundle ID of the target application (e.g., com.example.app). Leave empty to launch wizard
  DEBUG         False          yes       Enable debugging output
  IP            127.0.0.1      yes       IP address of the testing device

[2017-01-19 09:40] theHackPot commented on #94
Hi @marco-lancini ,

yes confirmed as hanging at line [D] [REMOTE CMD] Remote Command: unzip /var/root/needle/decrypted.ipa -d /var/root/needle/

Second dump with DEBUG mode True

             __   _ _______ _______ ______         _______
             | \  | |______ |______ |     \ |      |______
             |  \_| |______ |______ |_____/ |_____ |______

                   Needle v0.0.4 [mwr.to/n

[2017-01-19 11:14] marco-lancini commented on #106
If you open a terminal on your workstation (without using needle), and type this command:

`sshpass -p "alpine321" scp -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no -P 2227 -r "/Users/pragyan.a.paramita/Desktop/DVIA.ipa" root@localhost:"/var/root/needle/app.ipa"`

Can you then find a file named `app.ipa` on your device in the `/var/root/needle/` folder?

[2017-01-19 11:16] marco-lancini commented on #94
and you can confirm that if you run unzip directly (`unzip /var/root/needle/decrypted.ipa -d /var/root/needle/`), it works fine?

[2017-01-19 11:33] theHackPot commented on #94
Yes seems to be working
[code]

[2017-01-19 11:49] marco-lancini commented on #94
mmmh I have a feeling this might have the same root cause as issue https://github.com/mwrlabs/needle/issues/67

[2017-01-19 13:07] marco-lancini commented on #112
Hi @n0x00, I actually just updated the `develop` branch with those modifications.
Can you please test it on iOS10 and tell me if it's working fine?

[2017-01-20 13:52] marco-lancini commented on #67
@TheBananaStand, @C-YanHua could you please tell me which version of paramiko are you currently using?

`pip freeze | grep paramiko`

[2017-01-20 14:48] TheBananaStand commented on #67
@marco-lancini I'm currently running version 2.0.1. I'll submit a pull request this morning.

[2017-01-20 17:26] marco-lancini commented on #67
Thanks to @TheBananaStand, this should be fixed in `develop`.
I'm gonna close it for now, let me know if you experience the same issue

[2017-01-20 17:26] #67 closed

[2017-01-20 17:26] marco-lancini commented on #94
Thanks to @TheBananaStand, this should be fixed in `develop`.
I'm gonna close it for now, let me know if you experience the same issue

[2017-01-20 17:26] #94 closed

[2017-01-24 07:23] pragyan1994 commented on #106
AMAC02KN29EFFT1:~ pragyan.a.paramita$ sshpass -p "alpine321" scp -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no -P 2227 -r "/Users/pragyan.a.paramita/Desktop/DVIA.ipa" root@localhost:"/var/root/needle/app.ipa"
Warning: Permanently added '[localhost]:2227' (RSA) to the list of known hosts.

I dont see any app.ipa in the device.

[2017-01-24 09:12] marco-lancini commented on #106
Ok, so this confirms the issue is not within needle, but it seems you can't get a connection to the device at all

[2017-01-24 10:15] pragyan1994 commented on #106
this is more of an issue with my root permissions on the machine i guess.
And i did have a connection with the device, with USB mux .

[2017-01-31 10:21] sowdust opened #116 "dyld: Symbol not found: _map_fd"
## Issue
When trying to run a module on any application , i get an exception that keeps me from executing it.
It happens when needle tries to retrieve an app's metadata.
The exception error is:
[code]

It happens just after the line
`[REMOTE CMD] Remote Command: lipo -info /private/var/mobile/Containers/Bundle/Application/APPID-479D-443F-BC83-7CA2DA42C1F6/APPName.app/APPName`

Full stack trace is:

[2017-01-31 10:35] marco-lancini commented on #116
Hi,
have you tried to run lipo manually?

```lipo -info /private/var/mobile/Containers/Bundle/Application/APPID-479D-443F-BC83-7CA2DA42C1F6/APPName.app/APPName```

Is it failing?

[2017-01-31 10:37] sowdust commented on #116
Yes it is. Seems like lipo is missing

[2017-01-31 10:38] marco-lancini commented on #116
have you run needle with `SETUP_DEVICE` set to `True`?

[2017-01-31 10:55] sowdust commented on #116
I had but it failed. After successfully running setup device the error disappears and modules work correctly. Thanks for the help, hopefully this will serve for future references. Ciao

[2017-01-31 10:57] #116 closed

[2017-01-31 23:25] cobbr commented on #112
I can confirm that it is **not** working on iOS 10.2. I am running it on Kali 2 Rolling.

I am able to drop into a shell with the `shell` command, but when I try to run modules I am getting this output:

[code]

It seems that this issue stems from the fact that the file `/private/var/installd/Library/MobileInstallation/LastLaunchServicesMap.plist` does not exist on my iOS 10.2 device and is not a

[2017-02-01 09:30] marco-lancini commented on #112
Hi @cobbr, are you able to locate the `LastLaunchServicesMap.plist` file on the device's filesystem? That might greatly help (I'm running blind here cause I don't have a jailbroken device running 10 yet :S)

[2017-02-01 14:28] cobbr commented on #112
Sorry if I didn't make that clear. The `LastLaunchServicesMap.plist` does not exist on the device's filesystem. I'm running blind on any devices < iOS 10, so it might help if I knew what was needed from that file?

Here is a directory listing of the `/private/var/installd/Library/MobileInstallation` folder:
[code]
Maybe one of these files has the info that is needed?

[2017-02-01 16:08] marco-lancini commented on #112
we currently use that file to get the following info for every installed app:

* uuid
* name
* bundle id
* bundle directory
* data directory
* entitlements

[2017-02-01 17:47] cobbr commented on #112
Thanks for that list! Hmm... been poking around on my testing device this morning and unfortunately I haven't been able to find any file that seems to have that kind of information. This may be more complicated to find for iOS 10, unless I'm missing something.

I'm new to iOS in general, so it's possible I'm missing something obvious. Any clues to other places you would look for this kind of info?

[2017-02-01 21:28] marco-lancini commented on #84
closed due to inactivity

[2017-02-01 21:28] #84 closed

[2017-02-01 21:30] marco-lancini commented on #106
ok, as you said this seems to be related with problems accessing your jailbroken device and is not related to needle

[2017-02-01 21:30] #106 closed

[2017-02-01 21:32] marco-lancini commented on #112
for the past 3 versions of iOS, these were the paths:

* iOS7 = `/var/mobile/Library/Caches/com.apple.mobile.installation.plist`
* iOS8  = `/var/mobile/Library/MobileInstallation/LastLaunchServicesMap.plist`
* iOS9 = `/private/var/installd/Library/MobileInstallation/LastLaunchServicesMap.plist`

[2017-02-02 06:30] tghosth commented on #80
Just an update that I have looked at this a little more and it is really a pervasive problem wherever there are non-ascii characters. Unfortunately, just treating plists as unicode won't help.

I have [prepared a branch](https://github.com/tghosth/needle/tree/u_need_uni_code) which adds `__future__ import unicode_literals` to the top of every file.

If you can do testing with it, that would be gre

[2017-02-03 16:32] cobbr commented on #112
Been doing lots of `locate` and `find` searches for any files that look like they could be similar. Unfortunately, not much luck. There is a `/private/var/installd/Library/Preferences/com.apple.mobile.installation.plist`, but it doesn't appear to have any useful information.

The only solution that I can think of is manually searching for the information by traversing the `/private/var/containers/

[2017-02-03 20:39] cobbr commented on #112
I stumbled across [this stackoverflow question](https://stackoverflow.com/questions/27263333/how-can-i-access-specific-ios-apps-directory-with-objective-c) that seems relevant. It references an Objective-C framework that can be used to get installed application info:

[code]

A possible alternative to manual searching of information could be to create a small client/device-side application that us

[2017-02-04 22:12] ejohn20 opened #117 "setup - clutch2 installation error"
## Issue
When setting up the device (set SETUP_DEVICE True), the auto install of cluth2 fails. It appears that this package is no longer found in the repository. Details below...

### Actual behaviour
[V] [INSTALL] Installing CLUTCH via apt-get.
[D] Adding repo to cydia.list: http://cydia.iphonecake.com/
[D] [REMOTE CMD] Remote Command: echo "deb http://cydia.iphonecake.com/ ./" >> /etc/apt/source

[2017-02-04 22:17] ejohn20 commented on #75
Hey guys - sorry I dropped off the grid for a while. I had some non-mobile projects come up over the past couple months that tied up most of my time. I haven't had a chance to start looking at this closely yet...

[2017-02-05 00:24] ejohn20 commented on #112
@cobbr / @marco-lancini

FYI - I spent a couple hours today comparing the iOS 8.4 and iOS 10.1 file systems. There is definitely not a file similar to the LastLaunchServicesMap on the iOS 10.1 file system. I checked the InstalledApps.plist and com.apple.mobile.installation.plist files as well, and found no useful information in those files either.

[2017-02-05 06:42] tghosth opened #118 "Unicode issues (outside of Needle)"
## Issue

### Expected behaviour
Tell us what should happen.

### Actual behaviour
Tell us what happens instead.

### Steps to reproduce
1.
2.
3.

### needle error logs
Ensure verbose and debug mode are enabled:
[code]

## Environment

#### Workstation Operating System

#### Python Version

#### Python Packages (`pip freeze`)

#### Device iOS Version

[2017-02-05 06:42] tghosth commented on #80
It appears there are two issues regarding Unicode. One relates to processing within needle as shown here in [this example](https://github.com/mwrlabs/needle/issues/80#issuecomment-262161692)

I think this type of issue needs to be fixed by adding `__future__ import unicode_literals` to the top of every file which I am working on as [noted here](https://github.com/mwrlabs/needle/issues/80#issuecomm

[2017-02-05 09:46] tghosth commented on #118
Hi @marco-lancini,

I spent quite some time this morning trying to find a way of dealing with this. I experimented with a solution where we try and individually catch unicode issues on a file by file basis, [see here for example](https://github.com/mwrlabs/needle/compare/develop...tghosth:paramiko_workaround?expand=1).

Unfortunately, right now it seems like anything we do will be an ugly hack tha

[2017-02-05 12:38] tghosth opened #119 "AppSync install"
ipainstaller seems to rely on AppSync Unified being installed but needle does not seem to install this as part of setup. Should it do so? See, [here](http://www.ios9cydia.com/appsync.html).

Note that installing AppSync on iOS 10 apparently makes the device boot loop....!

[2017-02-07 11:29] marco-lancini commented on #112
Ok, potentially I could retrieve the Bundle and Data containers manually (even if not ideal).
But what about the entitlements, anyone knows where are they stored in iOS 10?

[2017-02-07 13:49] marco-lancini commented on #112
Bingo!
@cobbr, @ejohn20: look at this file `/User/Library/FrontBoard/applicationState.db`

[2017-02-07 17:32] cobbr commented on #112
Great find! I guess you were able to get your hands on a iOS 10 device?

I am able to find a list of bundle IDs in that database, but I think we are still stuck manually traversing for Bundle and Data containers, as well as searching for entitlements, unless I am missing something.

[2017-02-07 19:14] ejohn20 commented on #112
Interesting, I dug around in that database the other day. Were you able to find the bundle ids for custom apps that are installed? If so, what table did you find them in?

Running this command on my device with iGoat installed and a few other custom apps (Test Flight and other client apps) does not reveal their bundle ids.

iGoat Search: select * from application_identifier_tab where application_i

[2017-02-07 20:22] cobbr commented on #112
Hmm, I'm seeing my custom apps in that database at the bottom of the list. I haven't installed iGoat. I'll give that a shot later today, and report back if it appears in the applicationState.db file.

[2017-02-07 21:41] marco-lancini commented on #112
So, here's a breakdown:
* `application_identifier_tab`: list of `application_identifier` for every installed app (even if this has now been disinstalled)
* `key_tab`: mapping IDs to human-readable keys. Particularly notice 19 (`__UninstallDate`) and 10 (`compatibilityInfo`)
* `kvs`: contains the actual information. If you have an app installed, you should find a record containing 10 as a `key`. Th

[2017-02-08 17:48] cobbr commented on #112
@marco-lancini
Thanks for the breakdown. However, I am seeing a few different issues on my end.

* Some of my installed applications do not have an entry in `kvs` with 10 as a `key`.
* For the applications that do have an entry in `kvs` with 10 as a `key`, I am not seeing the Bundle and Data folders among it's strings. Here is an example of a few entries in my `kvs` table:
[code]
* I am also havin

[2017-02-20 08:18] bernard-wagner opened #121 "keychain_dump_frida user presence not working as intented"
## Issue

### Expected behaviour
Dump user presence values such as kSecTouchIDAny or kSecAccessControlTouchIDCurrentSet
### Actual behaviour
Attempts to read musr property which does not always work and does not parse the actual ACL
https://github.com/mwrlabs/needle/blob/develop/needle/modules/storage/data/keychain_dump_frida.py#L63

### Steps to reproduce
1. Run against application with keychains

[2017-02-27 14:50] fergalcoll opened #122 "Debug Detection Test [Enhancement Request]"
## Enhancement
Debug Detection Module

### Expected behaviour
A module for testing if the app performs debug detection checks.

### Actual behaviour
No current module to test for this

### Steps which explain the enhancement
1. Invoke the app with gdb
2. Watch for application termination, ASL entries that could indicate debug detection
3. Return a True or False result

[2017-03-02 17:40] marco-lancini commented on #112
Hi @tghosth,  @n0x00, @cobbr, @ejohn20!
Good news: the agent for needle is almost ready! (I plan to go live next week).
This will bring full support to iOS 10.

I'm gonna close this issue for now

[2017-03-02 17:40] #112 closed

[2017-03-02 17:42] marco-lancini commented on #119
Hi @tghosth, I'll avoid this since AppSync is not stable on iOS 10.
Plus, with the release of the agent we might be able to replace ipainstaller completely

[2017-03-02 17:42] #119 closed

[2017-03-02 18:06] cobbr commented on #112
Awesome! Much appreciated.
Out of curiosity, what was the solution you ended up going with?

[2017-03-02 21:43] ejohn20 commented on #112
Excellent! I'll give it a test drive when it's ready.

[2017-03-05 20:40] marco-lancini commented on #112
@cobbr: in order to be 100% reliable (and future-proof), we opted for developing a native agent. We plan to release it this coming week! :)

[2017-03-06 21:56] marco-lancini commented on #121
Hi @bernard-wagner, any update on this? I'm about to release Needle v1.0 in a few days, and I'd like to include this fix! :)

[2017-03-06 21:58] marco-lancini commented on #31
Hi @tghosth, do you still want to implement this?

[2017-03-07 10:00] tghosth commented on #31
To be honest I don't remember what the most recent version does for this. You could leave this open as a low priority fix or just close it for now if you prefer. Unfortunately I won't have time to look at it in the next few weeks...

[2017-03-07 13:55] HenryHoggard opened #130 "Frida Attach or Spawn"
It would be useful to have the option in Frida modules to either *attach to* or *spawn* a process. Currently it only gives an option to spawn the process, consequently restarting the application whenever a Frida script is run.

**Spawn**
[code]
**Attach**
[code]

[2017-03-07 17:13] #121 closed

[2017-03-08 10:13] HenryHoggard commented on #75
@marco-lancini with the introduction of the native agent this should now be possible.

[2017-03-08 11:45] HenryHoggard opened #132 "iOS 9 Application list path incorrect"
File: core/utils/constants.py Line 67:

[code]
iOS 9.1 Pangu Jailbroken device
[code]

[2017-03-08 11:52] marco-lancini commented on #132
Hi @HenryHoggard, this is gonna be superseded with the release of the native agent. Gonna close this for now

[2017-03-08 11:52] #132 closed

[2017-03-08 14:01] poldenais commented on #84
Hi Marco, I'm getting the same message now. Was there a solution? Have the coolstar repo installed on the JB iPad.

[2017-03-09 11:28] HenryHoggard opened #134 "Needle hangs on retrieve app list"
## Issue

### Expected behaviour
Needle should get list of apps in order to run a module.

### Actual behaviour
Needle hangs forever when trying to retrieve list of apps. Could be multiple sshpass sessions messing with needle.

### Steps to reproduce
1. Run any module
2. `set app ''` to get needle to search for apps again
3. Attempt to run another module
3. Needle hangs, you have to then kill the

[2017-03-09 11:39] marco-lancini commented on #134
Hi @HenryHoggard, this is gonna be superseded with the release of the native agent. Gonna close this for now

[2017-03-09 11:39] #134 closed

[2017-03-14 01:53] peterfillmore opened #136 "SCP is not installed by default in Yalu jailbreaks - breaking modules needing this on the device."
## Issue
SCP is not included in the dependencies on the device side.
This pops up when using the Yalu102 jailbreak as this uses Dropbear - and installing OpenSSH on a device with Yalu breaks ssh.

### needle error logs
[code]

#### Device iOS Version
iOS 10.0.2 jailbroken with yalu.

###Fix
add a dependency link to http://newosxbook.com/tools/iOSBinaries.html
and install the most recent tools.

[2017-03-14 09:09] marco-lancini commented on #136
Hi @peterfillmore, `scp` is already included as a dependency. It will be automatically installed on the device if you set `SETUP_DEVICE` to `True`

[2017-03-14 09:09] #136 closed

[2017-03-14 11:09] kryptoknight13 opened #137 "Telnet connection closed"
## Issue

After updating the Needle Framework with latest updates on repository, i observe "Telnet connection closed" while trying to run any module.

### Expected behaviour
Wizard should be displayed in order to select the app.

### Actual behaviour

<img width="1263" alt="screen shot 2017-03-14 at 4 49 32 pm" src="https://cloud.githubusercontent.com/assets/19758941/23898216/49883572-08d6-11e7-85

[2017-03-14 11:18] kryptoknight13 commented on #137
again re-running, got below error:

[needle] > use binary/info/checksums
[needle][checksums] > run
[D] Setup local output folder: /Users/akanksha.bana/.needle/output
[*] Checking connection with device...
[V] Connection not present, creating a new instance
[D] Setting up USB port forwarding on port 2224
[D] [LOCAL CMD] Local Subprocess Command: /Users/akanksha.bana/Desktop/needle/needle/needle/lib

[2017-03-14 11:21] kryptoknight13 commented on #137
###Settings done:
<img width="1263" alt="screen shot 2017-03-14 at 4 49 32 pm" src="https://cloud.githubusercontent.com/assets/19758941/23898216/49883572-08d6-11e7-8577-15eb5196aba4.png">

###Error received after re-running:
<img width="972" alt="screen shot 2017-03-14 at 4 49 47 pm" src="https://cloud.githubusercontent.com/assets/19758941/23898226/5164ac6c-08d6-11e7-8d0b-48c5680328d1.png">

[2017-03-14 11:25] HenryHoggard commented on #137
I also get this error.

[2017-03-14 11:29] HenryHoggard opened #138 "ValueError: Unterminated string starting at: line 1 column 1000 (char 999)."
## Issue

### Expected behaviour
Needle should run metadata module and retrieve list of apps.

### Actual behaviour
Returns error as shown in logs.

### Steps to reproduce
1. `use binary/info/metadata`
2. `run`

### needle error logs
[code]

## Environment

#### Workstation Operating System
Debian
#### Python Version
2.7
#### Device iOS Version
9.1

#### Needle Version
1.0.0

[2017-03-14 11:52] marco-lancini commented on #137
Hi @kryptoknight13, is the agent on the foreground when you get the `telnet connection closed` error?

[2017-03-14 13:30] marco-lancini commented on #137
Hi @kryptoknight13, I just tried on a device running iOS 9.3 and I **can't** reproduce this issue.
Is the agent on the foreground when you get the `telnet connection closed` error?

[2017-03-14 15:43] kryptoknight13 commented on #137
Hey @marco-lancini , the agent was open on screen. initially, it crashed but on second agent didn't crash.
In both the cases, agent wasn't pushed to foreground.

[2017-03-14 15:50] marco-lancini commented on #137
So you're saying you are not experiencing this issue anymore?

[2017-03-14 15:56] kryptoknight13 commented on #137
no, i am still facing the same issue. if i wasn't then i won't have opened the issue at first place. :P
I was telling about the agent.
Still i get issue for "telnet connection closed".

also, the following error (looks like u have edited my comment):
[needle] > use binary/info/checksums
[needle][checksums] > run
[D] Setup local output folder: /Users/akanksha.bana/.needle/output
[*] Checking connec

[2017-03-14 15:59] marco-lancini commented on #137
This is an issue caused by the lack of communication with the agent, everything will fail if the core can't establish a connection.

I still can't reproduce the error. Have you followed all the steps listed in the Installation Guide (https://github.com/mwrlabs/needle/wiki/Installation-Guide)?

Can you try to restart needle, enable `VERBOSE` and `DEBUG` mode, and then type `shell`?
Can you also pos

[2017-03-14 16:11] kryptoknight13 commented on #137
yes i have followed all the steps listed in the Installation Guide (https://github.com/mwrlabs/needle/wiki/Installation-Guide).

Restarted the needle. Agent while trying to run "shell", the needle agent on device crashed and got the below error.

##Logs
needle$: python needle.py

             __   _ _______ _______ ______         _______
             | \  | |______ |______ |     \ |      |______

[2017-03-14 16:14] marco-lancini commented on #137
Ok, could you run this in a terminal and post the output:

[code]

Also, have you ever used any frida-related module previously?

[2017-03-14 16:18] kryptoknight13 commented on #137
yes, I had used frida for needle and few different projects as well.

out put for "pip freeze":

needle$: sudo pip freeze
Password:
alembic==0.8.6
altgraph==0.10.2
backports-abc==0.4
backports.ssl-match-hostname==3.5.0.1
bdist-mpkg==0.5.0
biplist==0.9
bonjour-py==0.3
certifi==2016.8.8
cffi==1.8.3
click==6.6
colorama==0.3.7
configparser==3.5.0
construct==2.5.2
cryptography==1.5.2
dataset==0.6.4
Dja

[2017-03-14 16:25] marco-lancini commented on #137
Can you try to connect over Wi-Fi?

[2017-03-14 16:26] marco-lancini commented on #137
Ok, the problem is definitely occurring when trying to port-forward port 4444 on localhost.
Do you have a firewall/something preventing the port forwarding?

As a double check, could you try to connect to the device over Wi-Fi?

[2017-03-14 16:38] kryptoknight13 commented on #137
okay, restarted everything.
now i could take shell but again while running the modules from "shoe modules", i get telnet error and crashing of needle agent.
attaching a video for same and sharing logs as well.
[needle.mp4.zip](https://github.com/mwrlabs/needle/files/842030/needle.mp4.zip)

#logs:
needle$: python needle.py

             __   _ _______ _______ ______         _______
             | \

[2017-03-14 16:42] kryptoknight13 commented on #137
firewall is present but i usually get pop-up whenever i try to play round stating "firewall is preventing XXX". but in this case, i don't see that!

[2017-03-14 16:44] marco-lancini commented on #137
ok, you'll have to leave the agent in the foreground when launching the app-selection wizard.
Once you have the full list of apps, then you can put the agent in background

[2017-03-14 16:57] kryptoknight13 commented on #137
ok, tried putting the agent to foreground, needle get stuck at following:
[needle] > use binary/info/metadata
[needle][metadata] > run
[D] Setup local output folder: /Users/akanksha.bana/.needle/output
[*] Checking connection with device...
[V] Connection not present, creating a new instance
[D] Setting up USB port forwarding on port 2222
[D] [LOCAL CMD] Local Subprocess Command: /Users/akanksha.b

[2017-03-14 17:02] kryptoknight13 commented on #137
Hi @HenryHoggard , I see, you also faced similar issue. Were you able to resolve it? Thanks!

[2017-03-15 10:29] vineetapte opened #139 "Unable to list apps"
Unable to list apps in ios via list_apps. I am also getting an error after "Attempting to reading result"

### Expected behaviour
List of applications to be shown in iPAD

### Actual behaviour
Below is the error in needle error logs

### Steps to reproduce
1. [needle] > use storage/data/files_plist
2. [needle][files_plist] > run

### needle error logs

[code]

## Environment

#### Workstation Oper

[2017-03-15 10:31] marco-lancini commented on #139
Hi @vineetapte, closing this since it's a duplicate of #138

[2017-03-15 10:31] #139 closed

[2017-03-15 15:09] poldenais commented on #137
I'm getting a similar type issue when trying to run any modules.

Problem establishing connection: IndexError - tuple index out of range .
[!] IndexError: tuple index out of range.

[2017-03-15 15:11] marco-lancini commented on #137
Hi @poldenais, do you get the `telnet connection closed` error as well?

[2017-03-15 15:21] poldenais commented on #137
I got it once but I get past that now Marco,

[needle] > shell
[*] Spawning a shell...
[*] Checking connection with device...
[V] Connection not present, creating a new instance
[V] [AGENT] Connecting to agent (127.0.0.1:4444)...
[+] [AGENT] Successfully connected to agent (127.0.0.1:4444)...
[V] [SSH] Connecting (127.0.0.1:2222)...
[+] [SSH] Connected (127.0.0.1:2222)
Warning: Permanently added '

[2017-03-15 15:23] poldenais commented on #137
this is what I get when I attempt to run something:
[needle] > use storage/data/files_plist
[needle][files_plist] > run
[*] Checking connection with device...
[V] Connection not present, creating a new instance
[!] Problem establishing connection: IndexError - tuple index out of range .
[!] IndexError: tuple index out of range.
[V] [SSH] Disconnecting...
[V] [AGENT] Disconnecting from agent...
[ne

[2017-03-15 15:25] marco-lancini commented on #137
@poldenais: In order to debug this issue, we require more information.
Ensure `VERBOSE` and `DEBUG` mode are enabled, this will provide us with more detailed needle logs:
[code]

Once you have this information, please attach the log files to this thread and we can assist further.

[2017-03-15 15:27] marco-lancini commented on #138
@HenryHoggard, I was able to replicate the issue on a vanilla Kali box.
It is originated from a unicode character included in the name of one of the installed applications.

For some reason this issue does not presents when using macOS...

[2017-03-15 15:39] poldenais commented on #137
[needle] > use storage/data/files_plist
[needle][files_plist] > run
[D] Setup local output folder: /Users/paulnash/.needle/output
[*] Checking connection with device...
[V] Connection not present, creating a new instance
[D] Setting up USB port forwarding on port 2222
[D] [LOCAL CMD] Local Subprocess Command: /Users/paulnash/Desktop/ElearnSecurity/Apple/needle/needle/libs/usbmuxd/tcprelay.py -t 22

[2017-03-15 16:31] marco-lancini commented on #138
Ok this has been identified and is gonna be fixed with a hotfix in the next couple of days.

[2017-03-15 17:19] marco-lancini commented on #138
Hi, this should now be fixed in version 1.0.1

* https://github.com/mwrlabs/needle-agent/releases/tag/v1.0.1
* https://github.com/mwrlabs/needle/releases/tag/v1.0.1

Please upgrade the Agent from Cydia, and the Core from github

[2017-03-15 17:19] #138 closed

[2017-03-15 17:20] marco-lancini commented on #137
Hi, version 1.0.1 has just been released to fix issue #138:

* https://github.com/mwrlabs/needle-agent/releases/tag/v1.0.1
* https://github.com/mwrlabs/needle/releases/tag/v1.0.1

Please upgrade the Agent from Cydia, and the Core from github.
Then let me know if you're still experiencing this issue

[2017-03-16 04:49] kryptoknight13 commented on #137
Hey @marco-lancini:  Issue for " telnet connection closed" still persists even after updating both needle and needle agent from above share links by you.

[2017-03-17 14:39] va2ron1 commented on #112
I don't know if this could help, but I leave it here:
`/var/root/Library/MobileContainerManager/containers.sqlite3`

[2017-03-20 13:06] poldenais commented on #137
hi @marco-lancini , the new update worked on Friday but today its stopped with the Telnet error again. I haven't updated anything so was wondering did anyone else have the same issue. I have attached the log below.
**************************************************************************
Last login: Mon Mar 20 12:53:50 on ttys002
Pauls-MacBook-Air:~ paulnash$ cd needle
Pauls-MacBook-Air:needle pa

[2017-03-20 13:10] marco-lancini commented on #137
Hi @poldenais, can you confirm that the needle agent has been on the foreground (i.e., app visible on screen) for the entire time?

[2017-03-20 13:12] poldenais commented on #137
HI @marco-lancini , yes the needle agent is in the foreground and it actually closes then once the command is run on the desktop.

[2017-03-20 13:15] marco-lancini commented on #137
I see you are using a Macbook, can you connect the device to Xcode and analyze the logs?

[2017-03-20 13:16] kryptoknight13 commented on #137
Hi @marco-lancini  Looks like @poldenais is facing exactly the error/issue which I am facing.

[2017-03-20 13:17] marco-lancini commented on #137
@poldenais: I see you are using a Macbook, can you connect the device to Xcode and analyze the logs?
Also, you said on Friday it was working fine: have you installed any new application today?

[2017-03-20 13:29] poldenais commented on #137
@marco-lancini No I haven't changed anything since Friday. a Colleague here was getting the same telnet issue today after it working fine on Friday for him. Im just wondering if it was reported by anyone else yet.

Below is the Xcode log for when the Needle Agent crashes.

Incident Identifier: 249CE5E9-6748-4AB5-9CE9-C1DFCDC6033F
CrashReporter Key:   8bd76bfee7619ff0b72f19cd098f6083acb8d65f
Hardwa

[2017-03-20 13:34] marco-lancini commented on #137
@poldenais, might be challenging to debug remotely :S
anything appearing in the syslog?

[2017-03-20 15:02] poldenais commented on #137
hi @kryptoknight13 it's a Yalu jailbreak I am using on the iPad device (10.2), what JB are you using?

[2017-03-20 15:47] kryptoknight13 commented on #137
Hi @poldenais : I am using 9.1 Jailbreak on iPhone 6. Your's is a semi-jailbreak or full jailbreak?

[2017-03-20 16:03] poldenais commented on #137
@kryptoknight13 it's a Semi jailbreak. I was just wondering was it the same. thx

[2017-03-20 17:25] cobbr opened #141 "Needle receives no results from any modules"
## Issue
Upon executing any modules, Needle successfully connects via SSH and to the agent, but never returns any results from the modules.

### Expected behaviour
I expect output from the modules.

### Actual behaviour
Needle freezes. Ctrl+C works to stop the module, but no output is received. I have tried this on several modules.

### Steps to reproduce
1. Install needle
2. Install NeedleAgent o

[2017-03-20 21:38] marco-lancini commented on #141
Hi @cobbr, can you confirm that the needle agent has been on the foreground (i.e., app visible on screen) for the entire time?

[2017-03-20 21:42] cobbr commented on #141
Yes, the agent remained in the foreground. Has the agent been tested on 10.2?

[2017-03-20 21:43] marco-lancini commented on #141
Yep, one of my devices runs 10.2

[2017-03-21 03:40] cobbr commented on #141
Hmmm is there any other output I can provide that would help me debug this?

[2017-03-21 05:56] kryptoknight13 commented on #141
Hi @marco-lancini : now needle freezes or don't what should I call it, while attempting to read the list of app installed on iDevice. attaching the screenshot!

<img width="1408" alt="screen shot 2017-03-21 at 11 20 29 am" src="https://cloud.githubusercontent.com/assets/19758941/24134192/8fa3b444-0e28-11e7-85f4-25b09b9612a1.png">

[2017-03-21 09:07] marco-lancini commented on #141
@cobbr: do you have access to Xcode?
@kryptoknight13: are you still experiencing issue #137?

[2017-03-21 10:07] kryptoknight13 commented on #141
yes i am still facing issue #137.

[2017-03-21 10:09] marco-lancini commented on #141
mmmh, @kryptoknight13 the 2 issues are mutually exclusive. If you are facing this issue then the core is waiting an answer from the agent (without receiving a connection closed error).
Could you provide more details?

[2017-03-21 10:16] kryptoknight13 commented on #141
yes @marco-lancini that's what i experienced too.
either i get "telnet connection closed" or "freezing of needle".
please do let me know what details you would require.
PS: these two errors are seen on two different environments with same needle release.

[2017-03-21 10:43] HenryHoggard commented on #141
I also get this issue on iOS 9.1. Needle 1.0.1

[2017-03-21 11:21] marco-lancini commented on #141
@kryptoknight13, @cobbr: if you can attach the device to Xcode you can start debugging it by analyzing the system log and see what the agent is printing

[2017-03-21 12:17] kryptoknight13 commented on #141
@marco-lancini is there any specific cpu type needed for needle agent app? I am asking this, as 1st error itself says "<Error>: MS:Error: binary does not support this cpu type".

PS: below are logs when i have just launched the needle agent app on device. note: needle framework hasn't started at this point of time.

###logs from Xcode:
Mar 21 17:42:32 iPhone6 NeedleAgent[1166] <Error>: MS:Error: b

[2017-03-21 12:21] kryptoknight13 commented on #141
@marco-lancini : posting log from xcode again when needle framework is started and needle agent is launched ( in listening condition).

###Log from Xcode:
Mar 21 17:48:12 iPhone6 NeedleAgent[1166] <Warning>: Handle Command: OS_VERSION, (
	)

I don't get any further log from needle agent in ASL(xcode).

let me know if anything else is needed!

[2017-03-21 15:12] marco-lancini commented on #137
Hi, @poldenais and @kryptoknight13.
Version 1.0.2 has just been released to fix issues #137 and #141:

* https://github.com/mwrlabs/needle/releases/tag/v1.0.2
* https://github.com/mwrlabs/needle-agent/releases/tag/v1.0.2

Please upgrade the Agent from Cydia, and the Core from github.
Then let me know if you're still experiencing this issue

[2017-03-21 15:13] marco-lancini commented on #141
Hi, @cobbr, @kryptoknight13, and @HenryHoggard.
Version 1.0.2 has just been released to fix issues #137 and #141:

* https://github.com/mwrlabs/needle/releases/tag/v1.0.2
* https://github.com/mwrlabs/needle-agent/releases/tag/v1.0.2

Please upgrade the Agent from Cydia, and the Core from github.
Then let me know if you're still experiencing this issue

[2017-03-21 16:15] poldenais commented on #137
hi @marco-lancini , I seem to be still having issues but that could something to do with my setup. below is the log when I try to run a command. thanks.

Pauls-MacBook-Air:needle paulnash$ python needle.py

             __   _ _______ _______ ______         _______
             | \  | |______ |______ |     \ |      |______
             |  \_| |______ |______ |_____/ |_____ |______

[2017-03-21 16:24] marco-lancini commented on #137
Hi @poldenais, yep that's definitely something related to your environment :)

[2017-03-21 20:55] cobbr commented on #141
This appears to be fixed, thanks @marco-lancini !
However, I now appear to be experiencing another issue. This seems to be identical to #84
[code]

Even with `SETUP_DEVICE` set to `True`, it doesn't appear to be automatically installed. Maybe this is intentional. #84 recommends to install `lipo` from: `org.coolstar.cctools`, which no longer appears to work.

[2017-03-21 21:25] marco-lancini commented on #141
@cobbr: awesome! :D Regarding your last issue with a dependency, please post it on #84.
As soon as @kryptoknight13 confirm, I'll (hopefully) close this issue

[2017-03-22 13:46] cobbr commented on #84
I am experiencing this issue, and the previous solution to use the coolstar repo no longer appears to work. Additionally, using SETUP_DEVICE does not automatically install this.

[code]

[2017-03-22 14:25] marco-lancini commented on #84
Hi @cobbr, you can find `lipo` in the `org.coolstar.cctools` package (which is among the ones automatically installed by needle)

[2017-03-22 15:43] poldenais commented on #137
@marco-lancini Marco did you get the agent install on iOS 10.2 by any chance? I have the Yalu JB on it but it recommends not installing OpenSSH and using a Daemon dropper instead to SSH into the iPad device. I can get my Mac to SSH connect to the device now but I think this is where I could be running into problems now with the Needle Agent. any suggestions? thx

[2017-03-22 15:53] marco-lancini commented on #137
@poldenais: yes, one of my testing devices is running iOS 10.2

needle doesn't rely on SSH for iOS 10, but on the dropbear daemon dropped by the yalu jb. The only package that needle will install is a `scp` module for dropbear:
https://github.com/mwrlabs/needle/blob/master/needle/core/utils/constants.py#L159

[2017-03-22 22:54] poldenais commented on #137
hi @marco-lancini for some reason Im still hitting an error. The agent is sitting in the foreground and once I run a Command the agent closes and the command pauses.

      __   _ _______ _______ ______         _______
             | \  | |______ |______ |     \ |      |______
             |  \_| |______ |______ |_____/ |_____ |______

                   Needle v1.0.2 [mwr.to/needle]
  [MWR InfoSe

[2017-03-23 08:09] kryptoknight13 commented on #137
hi @marco-lancini : after updating needle framework and needle-agent from the said links:
https://github.com/mwrlabs/needle/releases/tag/v1.0.2
https://github.com/mwrlabs/needle-agent/releases/tag/v1.0.2

, I am experiencing the same issue as mention by @poldenais in above comment.
The needle agent closes/crashes(i see few crash log in xcode) and command pause at "[D] [AGENT] Parsing result".

[2017-03-23 08:57] marco-lancini commented on #137
Hi @poldenais, @kryptoknight13: to debug this I'll need a complete list of all apps and substrate tweaks installed on your devices.
Can I also ask you to format your output in markdown please? (https://guides.github.com/features/mastering-markdown/)

[2017-03-23 09:17] #137 closed

[2017-03-23 09:49] poldenais opened #142 "Needle agent v.1.0.2 crashes on LIST_APPS"
Issue:

The Needle agent (v1.0.2( crashes when I run a command from my connected Desktop.

The agent is sitting in the foreground and once I run a Command the agent closes and the command pauses.

Environment: I am using a MacBook (10.12.3) connecting to a JB device (Yalu jailbreak) with 10.2 on it.

@kryptoknight13 getting similar issue.

[code]
[code]

[2017-03-23 09:52] marco-lancini commented on #142
@poldenais: can you please format your output in markdown?

[2017-03-23 09:53] #141 closed

[2017-03-23 10:02] marco-lancini commented on #142
@poldenais,  can you attach the device to Xcode so to start debugging it by analyzing the system log and see what the agent is printing?

[2017-03-23 10:08] kryptoknight13 commented on #142
@marco-lancini : Can we not have this issue device specific? I faced this issue with iOS 9.1, 9.3 as well.

[2017-03-23 10:10] marco-lancini commented on #142
Yeah I agree is not related to the iOS version (or device type) at all, but rather on the configuration of the device (i.e., installed apps and tweaks)

[2017-03-23 10:30] #31 closed

[2017-03-23 10:39] poldenais commented on #142
[code]

[2017-03-23 10:43] marco-lancini commented on #142
@poldenais, I noticed you have AppSync installed. I'm sure is not the problem here, but AppSync can cause issues on iOS10.

Can you provide the syslog from Xcode as well?

[2017-03-23 11:32] poldenais commented on #142
@marco-lancini Marco I noticed now that I can ping my JB device but when I attempt to SSH into it I get an error. (I removed AppSync just in case and I will work on sending you the logs, not that familiar to Xcode)

[code]

[2017-03-23 11:42] marco-lancini commented on #142
@poldenais: as outlined by the creators of the iOS 10 jailbreak, the dropbear daemon listens only on localhost. If you want to make it listen on every interface (to enable access over Wi-Fi) you'll have to perform these steps:

* edit `/Library/LaunchDaemons/dropbear.plist` and change the port argument from 127.0.0.1:22 to 0.0.0.0:22
* `launchctl unload /Library/LaunchDaemons/dropbear.plist `
* `l

[2017-03-23 11:47] poldenais commented on #142
[code]

[2017-03-23 14:33] marco-lancini commented on #142
@poldenais: what version are you using? the logs shows `1.0.1`

[2017-03-23 15:00] poldenais commented on #142
@marco-lancini it's definitely 1.0.2 I have installed, that was yesterdays log and I can't seem to get one that was generated today. ill try and get one.

[2017-03-23 15:28] poldenais commented on #142
@marco-lancini A different error message when I run it now and the agent is listening but doesn't quit this time.

[code]

[2017-03-23 15:32] marco-lancini commented on #142
@poldenais: this is related to your setup, and not quite with needle. Try to troubleshoot your connection outside needle (manually setting up port forwarding and then connecting to the device)

[2017-03-23 16:16] poldenais commented on #142
@marco-lancini ok Marco, I cleared the logs and ran needle once again. I can see on the GUI that its needle agent v1.0.2 that I am listening on, but when it crashes I can see in the log its referring to v1.0.1

[code]

[2017-03-23 16:18] marco-lancini commented on #142
try to uninstall it, remove the repo from Cydia and then start from scratch?

[2017-03-23 16:25] kryptoknight13 commented on #142
@marco-lancini : similar thing i observed. even after freshly installing needle agent, still the crash logs say "version: 1.0.1".

[2017-03-23 17:44] n0ttab0t opened #144 "constants.py: Clutch2 no longer hosted on http://cydia.iphonecake.com/"
## Issue
Repo http://cydia.iphonecake.com/ now uses Rasticrac and has pulled Clutch2 from their repository. Thus, SETUP_DEVICE fails to install Clutch2.

## Solution
Change search path and package name in constants.py to a repo of your choosing.

[2017-03-24 06:59] poldenais commented on #142
@marco-lancini I removed the app and then the repo from Cydia and when it crashes I still see version 1.0.1 in the crash log.
[code]

[2017-03-27 08:12] marco-lancini commented on #144
Duplicate of #117

[2017-03-27 08:12] #144 closed

[2017-03-27 08:13] marco-lancini commented on #142
Hi, regardless, could you provide the device syslog (not crash log) and a full list of installed apps please?

[2017-03-27 11:57] kryptoknight13 commented on #142
Hi @marco-lancini : Let me know if below helps you.

###DEVICE SysLog

Mar 27 17:17:11 iPhone6 NeedleAgent[1089] <Warning>: Handle Command: OS_VERSION, (
	)
Mar 27 17:17:11 iPhone6 NeedleAgent[1089] <Warning>: RES: 9
Mar 27 17:17:11 iPhone6 NeedleAgent[1089] <Warning>: Handle Command: LIST_APPS, (
	)
Mar 27 17:17:11 iPhone6 NeedleAgent[1089] <Error>: *** Terminating app due to uncaught exception '

[2017-03-27 12:08] marco-lancini commented on #142
@kryptoknight13 could you please format your output using Markdown?

[2017-03-27 12:21] kryptoknight13 commented on #142
@marco-lancini : i have edited the above comment to Markdown.

[2017-03-27 12:44] marco-lancini commented on #142
@kryptoknight13: can you try to disable all these tweaks?

[code]

[2017-03-27 15:40] theSha1chemist commented on #61
@marco-lancini thanks for the writeup. The sim linking command fails though. removing the trailing slashes works:

iPhone:~ root# ln -s /private/var/Fonts/ /System/Library/Fonts/
ln: target `/System/Library/Fonts/' is not a directory: No such file or directory
iPhone:~ root# ln -s /private/var/Fonts System/Library/Fonts

[2017-03-28 14:21] poldenais commented on #142
@marco-lancini Sorry Marco, I couldn't work on this until now.

**Console Logs below**:
[code]

[2017-03-28 15:13] poldenais commented on #142
**Installed:**

[code]

[2017-03-28 20:24] marco-lancini commented on #142
@poldenais: I asked for a full list of installed applications, not cydia packages

[2017-03-28 20:28] marco-lancini commented on #142
Anyway, @kryptoknight13 and @poldenais: seems now clear this is something tied to your environment/installation and is proved impossible to debug remotely.

What I recommend is to debug the agent with Xcode (https://developer.apple.com/library/content/documentation/DeveloperTools/Conceptual/debugging_with_xcode/chapters/debugging_tools.html) to figure out what's wrong.
After you identify that, pro

[2017-03-29 06:26] kryptoknight13 commented on #142
hi @marco-lancini : I have disabled few tweaks as asked by you. Copying the Xcode logs again.

###Device Logs

[code]

[2017-03-29 09:13] marco-lancini commented on #142
hi @kryptoknight13, please see my previous comment: https://github.com/mwrlabs/needle/issues/142#issuecomment-289894217

[2017-03-29 09:41] poldenais commented on #142
@marco-lancini Thank you Marco

[2017-03-29 10:20] marco-lancini commented on #117
Hi, this has temporarily been fixed in `develop` using the suggested solution.
Long term Clutch will be replaced by the agent

[2017-03-29 10:20] #117 closed

[2017-03-30 09:14] marco-lancini commented on #130
Hi @HenryHoggard this has now been implemented in `develop`

[2017-03-30 09:14] #130 closed

[2017-03-30 09:26] marco-lancini commented on #111
Hi @smhome, sorry for the delay. This has now been fixed with the new  `device/dependency_installer` module, which offers more granular support towards installation of dependencies

[2017-03-30 09:26] #111 closed

[2017-03-30 10:12] marco-lancini commented on #34
Hi @summitt, a fix has now been included in the `develop` branch

[2017-03-30 10:12] #34 closed

[2017-03-31 13:34] kryptoknight13 opened #146 "Needle Agent Usecases"
### Issue
Can you please list the use-cases of Needle Agent? How and what are the difference between previous version of needle and latest version of needle in accordance with needle agent?

[2017-03-31 13:41] marco-lancini commented on #146
Hi, an overview was presented in the release blog post: http://mobiletools.mwrinfosecurity.com/Needle-1-0-0/

[2017-04-01 13:13] marco-lancini commented on #146
Does this answer your question?

[2017-04-03 13:57] javixeneize opened #147 "Readline issue (Solution attached)"
Hi

Happy to see a new version of Needle. I just realised i am still using 0.0.3!

I had some problems with readline library in OSx:

ImportError: dlopen(/usr/local/Cellar/python/2.7.12/Frameworks/Python.framework/Versions/2.7/lib/python2.7/lib-dynload/readline.so, 2): Library not loaded: /usr/local/opt/readline/lib/libreadline.6.dylib

If anybody is experiencing this issue, you just need to link

[2017-04-03 14:32] marco-lancini commented on #147
Hi @javixeneize, thank you for taking the time to report it, as it may be helpful to other users.
I'm going to close this for now, since it is not related to needle itself.

[2017-04-03 14:32] #147 closed

[2017-04-03 14:33] marco-lancini commented on #142
@kryptoknight13, @poldenais: did you have the chance to debug the issue you are facing?

[2017-04-04 05:47] kryptoknight13 commented on #146
yes @marco-lancini! I was away from machine so couldn't reply. Thanks!

[2017-04-04 08:57] #146 closed

[2017-04-05 09:38] poldenais commented on #142
@marco-lancini Hi Marco, sorry for not replying earlier. I had to reinstall Yalu but it messed up Cydia then (Lydia disappeared). I managed to get this fixed by getting someone with developer access to instead reinstall Cydia on my device and run a few commands. Once Cydia, appeared again so did the Needle agent and it now works!!!  Thanks

[2017-04-05 09:54] marco-lancini commented on #142
@poldenais: awesome news! So it seems it wasn't related with Needle at all?

[2017-04-10 07:38] c0d3xpl0it opened #149 "Error Dyld"
Hello,

I am new to Needle and faced error show below while using these 2 modules.

[code]

Error:
[code]

[2017-04-10 08:31] marco-lancini commented on #149
Please see https://github.com/mwrlabs/needle/issues/11

[2017-04-10 08:31] #149 closed

[2017-04-10 08:49] marco-lancini commented on #142
Closing this for now due lack of response

[2017-04-10 08:49] #142 closed

[2017-04-10 16:29] c0d3xpl0it opened #150 "Error While Pulling IPA"
We encountered below error while pulling IPA from device over USB.

Options:
  Name         Current Value                 Required  Description
  -----------  -------------                 --------  -----------
  DECRYPT      True                          no        Set to True to decrypt the IPA before pulling
  OUTPUT       /root/.needle/output/app.ipa  yes       Full path of the output file
  PU

[2017-04-10 23:08] marco-lancini commented on #150
Hi @c0d3xpl0it, you'll have to install some dependencies before using needle.

See https://github.com/mwrlabs/needle/issues/1 and the [user guide](https://github.com/mwrlabs/needle/wiki/Quick-Start-Guide) before trying to use needle

[2017-04-10 23:08] #150 closed

[2017-04-11 16:34] cobbr opened #151 "Errors running modules targeting an application with a space character in the name"
## Issue
It seems that needle does not properly handle spaces in the name of the application when dealing with filepaths.
### Expected behaviour
Needle should use the backlash '\\' escape character to escape out spaces in the filepath.

### Actual behaviour
Needle uses HTML encoding, inserting '%20' for spaces in the name of an application.

### Steps to reproduce
1. Install an application with a

[2017-04-13 11:41] theSha1chemist opened #152 "Syslog modules do not extract multi line log entries when the FILTER option is used"
## Issue
The following syslog modules:
- modules/dynamic/watch/syslog.py
- modules/dynamic/monitor/syslog.py

Do not capture multi line logs when the FILTER option is used.

(this is because grep -i is used for filtering)

### Expected behaviour
If the filter option is used, multi line logs should be extracted. e.g. when using introspy

### Actual behaviour
Only the first line of the log entry is

[2017-04-13 12:03] theSha1chemist opened #153 "Frida script for tracing Common Crypto functions, including the function arguments and return values [Enhancement Request]"
## Enhancement
Frida script for tracing Common Crypto functions, including the function arguments and return values
### Expected behaviour

For example:

CALLED C CCCrypt
arguments =
alg =
dataIn =
dataOut =
dataOutAvailable =
iv =
key =
op =
options =

returnValue =

[2017-04-14 06:59] adi0x90 opened #154 "Bad File Descriptor"
ProductName:    iPhone OS
ProductVersion: 9.2
BuildVersion:   13C75

For all the modules, it's showing - Bad File Descriptor.

![image](https://cloud.githubusercontent.com/assets/1782493/25035869/26c78fba-20a5-11e7-870d-3203a8a1c2fb.png)

[2017-04-14 10:12] adi0x90 commented on #154
Solved by using the release version.

[2017-04-14 10:12] #154 closed

[2017-04-28 08:53] pentagramz opened #156 "Link not working"
## Issue

### Expected behaviour
Tell us what should happen.
Link not working , not able to add repo in cydia

http://mobiletools.mwrinfosecurity.com/cydia/

https://github.com/mwrlabs/needle/wiki/Installation-Guide

[2017-04-28 11:31] marco-lancini commented on #156
Hi @pentagramz, I can confirm the Cydia repository is up and running.
Can you try again/provide more information?

[2017-04-28 22:57] SubzeroiOS opened #157 "[!] KeyError: 'IPAINSTALLER' error while running 'binary/reversing/strings'"
## Issue
'''[!] KeyError: 'IPAINSTALLER' ''' error while running '''binary/reversing/strings'''
### Expected behaviour
Error should not be shown, the module should execute and provide results.
### Actual behaviour
The module fails and exits abruptly while trying to retrieve the IPA.
### Steps to reproduce
1.
2.
3.

### needle error logs
Ensure verbose and debug mode are enabled:
[code]

## Environ

[2017-05-03 14:42] marco-lancini commented on #157
Duplicate #150

[2017-05-03 14:42] #157 closed

[2017-05-03 14:42] #156 closed

[2017-05-08 20:31] ccsplit opened #161 "[Errno 9] Bad file descriptor with Python 2.7.13"
## Issue
Consistently I receive an error when attempting to connect Needle with Python 2.7.13 on Mac OSX. It appears the issue may be caused by an issue within `asyncore.dispatcher` regarding Python 2.7.13, which may be similar to the issue discussed within [fail2ban issue #161](https://github.com/fail2ban/fail2ban/issues/161). Which appears to be resolved through the following [commit](https://gi

[2017-05-10 07:56] marco-lancini commented on #161
Hi @ccsplit, the recursion error has been fixed with the latest commit in `develop`, but it was related to a faulty decorator.
Regarding the bad file descriptor issue, what version of the agent are you running?

[2017-05-10 14:13] ccsplit commented on #161
Hello @marco-lancini, I am using Needle agent v1.0.3 and have tested with the needle release 1.1.0 and also `master`. I will test with the `develop` branch to see if the `Bad file descriptor` issue is still present.

[2017-05-11 01:25] shiham101 opened #163 "SSH Session appears to have died!"
## Issue
SSH Session appears to have died!

### Expected behaviour
SSH could not connect into iphone.

### Actual behaviour
1. use Mac ssh to iphone device port 2222 (not USB, same LAN) -OK.
2. use telnet needle agent port 4444 - OK.
3. Mac could  run need.py , but shell command is failed.

### Steps to reproduce
1.start need agnet (yulu102 jailbroken)
2.run need server
3.run shell commmand

### n

[2017-05-11 08:06] marco-lancini commented on #163
Hi @shiham101, is not clear if you are trying to connect using needle or telnet/SSH.
Anyway, could you pull the latest version from the `develop` branch and try again please?

[2017-05-11 08:34] shiham101 commented on #163
Hi
I   telnet and ssh the devices for debugging internet problem. and its ok.

[*] Spawning a shell...
[*] Checking connection with device...
[V] Connection not present, creating a new instance
[V] [AGENT] Connecting to agent (192.168.1.47:4444)...
[+] [AGENT] Successfully connected to agent (192.168.1.47:4444)...
[!] SSH Session appears to have died!
[V] [SSH] Disconnecting...
[V] [AGENT] Disconn

[2017-05-11 09:07] shiham101 commented on #163
Hi
 i use USB , error log as below
thanks

[D] [LOCAL CMD] Local Subprocess Command: /Volumes/32GB/needle-develop/needle/libs/usbmuxd/tcprelay.py -t 22:2222
[D] [AGENT] Setting up port forwarding on port 4444
2017-05-11 17:05:54,838| ERROR   | Unknown exception: CTR mode needs counter parameter, not IV
2017-05-11 17:05:54,838| ERROR   | Traceback (most recent call last):
2017-05-11 17:05:54,839| E

[2017-05-11 09:34] shiham101 commented on #163
wireshark packet
SSH-2.0-paramiko_1.15.2
SSH-2.0-dropbear_2015.71
...|..\.?.;4..............curve25519-sha256@libssh.org,ecdh-sha2-nistp521,ecdh-sha2-nistp384,ecdh-sha2-nistp256,diffie-hellman-group14-sha1,diffie-hellman-group1-sha1,kexguess2@matt.ucc.asn.au...#ecdsa-sha2-nistp521,ssh-rsa,ssh-dss...gaes128-ctr,aes256-ctr,aes128-cbc,aes256-cbc,twofish256-cbc,twofish-cbc,twofish128-cbc,3des-ctr,3des

[2017-05-11 10:04] shiham101 commented on #163
update paramiko and use usb . now its ok

[2017-05-11 10:10] #163 closed

[2017-05-11 12:33] shiham101 opened #164 "No such file or directory: '/.needle/tmp/plist'"
## Issue
No such file or directory: '/.needle/tmp/plist'
### Expected behaviour
use binary/info/metadata

### Actual behaviour
[!] IOError: [Errno 2] No such file or directory: '/Users/hansswang/.needle/tmp/plist'

### Steps to reproduce
1.use binary/info/metadata
2.run

### needle error logs

[code]

## Environment

# Workstation Operating System
mac 10.12.4
#### Python Version
Python 2.7.10
####

[2017-05-11 13:16] tghosth opened #165 "Show device IP in NeedleAgent"
## Issue
Would be great if NeedleAgent could show the device's IP to save having to go find it :)

### Expected behaviour
NeedleAgent main screen should show device IP

### Actual behaviour
It does not

### Steps to reproduce
1. Open NeedleAgent

#### Device iOS Version
9.2.1

[2017-05-11 15:33] tghosth opened #166 "NeedleAgent debug log"
## Issue
NeedleAgent does not seem to provide any detailed debug log (without using xcode)

### Expected behaviour
It would be great if NeedleAgent could have an option to produce some sort of debug log when requested (e.g. another toggle on the agent screen).

### Actual behaviour
Unless I am mistaken, you have to use xcode to debug NeedleAgent and discover why it is not responding.

#### Device

[2017-05-11 17:05] marco-lancini commented on #163
closed by user

[2017-05-11 17:07] marco-lancini commented on #165
Hi @tghosth, welcome back! :)
Good idea, I've just implemented it and pushed it into the `develop` branch of needle-agent

[2017-05-11 17:07] #165 closed

[2017-05-11 17:10] marco-lancini commented on #166
Hi @tghosth, that's another good idea: we could add a second "tab" to the UI which contains the system log.
My UI-related skills are pretty limited though, it would beneficial if we could find an Objective-C developer for these kind of implementations

[2017-05-11 17:11] marco-lancini commented on #164
In order to debug this issue, we require more information.

Ensure `VERBOSE` and `DEBUG` mode are enabled, this will provide us with more detailed needle logs:
[code]

Once you have this information, please attach the log files (starting from when you type `python needle.py`) to this thread and we can assist further.

[2017-05-12 01:30] shiham101 commented on #164
Is there only one ssh session to the iphone ?

AFTER I successful login iphone ssh shell ,logout the shell
then run binarny/info/metadata

  [!] SSH Session appears to have died! again

HanssWangMacBook-Air:needle hansswang$ sudo python needle.py

             __   _ _______ _______ ______         _______
             | \  | |______ |______ |     \ |      |______
             |  \_| |______ |_____

[2017-05-12 08:08] marco-lancini commented on #164
do you still have the agent on the foreground?

[2017-05-12 12:02] dmred1 commented on #141
@marco-lancini  Issue: not able to get any output from modules
I have set up as per given installation guide
https://github.com/mwrlabs/needle/wiki/Installation-Guide

device : Jailbroken Ipad iOS 9.3.1 32 bit and agent needle v1.0.3
OS : kali Linux

Could someone help
![ios needle](https://cloud.githubusercontent.com/assets/14013208/25997233/e80ff0a0-3738-11e7-939f-fe0bba752a02.png)

[2017-05-12 12:05] dmred1 commented on #141
@kryptoknight13 Could you help if you have done it

[2017-05-12 12:21] marco-lancini commented on #141
Hi @dmred1: in order to debug this issue, we require more information.

Ensure `VERBOSE` and `DEBUG` mode are enabled, this will provide us with more detailed needle logs:
[code]

Once you have this information, please attach the log files (starting from when you type `python needle.py`) to this thread and we can assist further.

[2017-05-12 18:47] dmred1 commented on #141
@marco-lancini Hi, please look at screenshots
![1](https://cloud.githubusercontent.com/assets/14013208/26012157/4019d6f2-3771-11e7-94fa-ff108dadbeae.png)
![img_0044](https://cloud.githubusercontent.com/assets/14013208/26012166/4928c104-3771-11e7-93de-f001393412c0.PNG)
![2](https://cloud.githubusercontent.com/assets/14013208/26012172/4eb53990-3771-11e7-8407-fabafbca6aa9.png)
![3](https://cloud.gith

[2017-05-15 08:37] tghosth commented on #165
Cheers @marco-lancini, is there a compiled version of the development branch?

[2017-05-15 08:39] tghosth commented on #166
As a workaround for now, would it be possible to add a toggle which just dumps the debug output into the same place as the current output or onto a file on disk? It would really help me debug an agent issue I am having.

[2017-05-15 09:05] shiham101 commented on #164
Nope.

[needle] > set DEBUG True
DEBUG => True
[needle] > shell
[*] Spawning a shell...
[*] Checking connection with device...
[V] Connection not present, creating a new instance
[D] Setting up USB port forwarding on port 2222
[D] [LOCAL CMD] Local Subprocess Command: /Users/hansswang/Pentest/needle-develop/needle/libs/usbmuxd/tcprelay.py -t 22:2222
[D] [AGENT] Setting up port forwarding on port 4

[2017-05-15 21:11] SubzeroiOS commented on #150
@c0d3xpl0it How did you resolve the issue (_[!] KeyError: 'IPAINSTALLER'._)?  I am also facing the same issue. I updated the dependencies by setting '''set SETUP_DEVICE True''' but still get the error while running _binary/reversing/strings_

[2017-05-16 15:49] marco-lancini commented on #165
Not for the development branch

[2017-05-16 15:50] marco-lancini commented on #166
I'll try to fit it in!

[2017-05-16 15:51] marco-lancini commented on #164
try to leave the agent in the foreground please

[2017-05-16 16:01] javixeneize opened #168 "No module named utils"
## Issue
When running needle, i have an error in printer.py. Importerror:No module named 'utils'

I think the problem is that in your code, there is an utils.py, and there is also a python module called utils, so the tool can't open that class

Any suggestions on how to solve it? I think i need to force the app to search for utils in my directory instead of the python library folder

Thanks

Thank

[2017-05-16 16:42] marco-lancini commented on #168
In order to debug this issue, we require more information.

Ensure `VERBOSE` and `DEBUG` mode are enabled, this will provide us with more detailed needle logs:
[code]

Once you have this information, please attach the log files (starting from when you type `python needle.py`) to this thread and we can assist further.

[2017-05-16 22:13] f-fly2 commented on #168
Thats what i have

Traceback (most recent call last):
  File "needle.py", line 9, in <module>
    from core.framework import cli
  File "/Users/me/needle/needle/core/framework/cli.py", line 7, in <module>
    from ..utils.printer import Colors, Printer
  File "/Users/me/needle/needle/core/utils/printer.py", line 4, in <module>
    from utils import Utils
ImportError: No module named 'utils'

I can

[2017-05-17 02:25] shiham101 commented on #164
![2017-05-17 10 17 45](https://cloud.githubusercontent.com/assets/13402014/26135893/2955e186-3aeb-11e7-9475-268bc5fe4d9f.png)

[2017-05-17 07:57] marco-lancini commented on #164
hi @shiham101, I meant the agent on the device

[2017-05-17 11:33] marco-lancini commented on #168
What version are you using? From what branch?

[2017-05-17 12:22] javixeneize commented on #168
Hi

The latest one from master -- https://github.com/mwrlabs/needle.git

On Wed, May 17, 2017 at 12:33 PM, Marco Lancini <notifications@github.com>
wrote:

[2017-05-17 14:59] ccsplit commented on #168
@javixeneize, are you using Python3? (`python --version`) I've seen this issue within Python3, which I believe the imports may need to be changed in order to fully support Python3. I would suggest using Python 2.7.x in the meantime.

[2017-05-17 15:02] javixeneize commented on #168
Hi

Im on python 2.7

Thanks
El El mié, 17 may 2017 a las 15:59, ccsplit <notifications@github.com>
escribió:

[2017-05-18 12:43] marco-lancini commented on #164
can you also try to run this command (outside needle):

```sshpass -p "alpine" scp -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no -P 2222 root@127.0.0.1:"/private/var/containers/Bundle/Application/4617853D-8443-498B-8AC0-CCC851CF1E73/MJ16TW.app/Info.plist" /Users/hansswang/.needle/tmp/plist```

I think the problem here is that you miss the `scp` package on your device. Please refer to

[2017-05-18 12:43] #164 closed

[2017-05-18 12:44] marco-lancini commented on #168
As requested earlier, how are you launching it?

[2017-05-18 14:44] javixeneize commented on #168
Just python needle.py

El El jue, 18 may 2017 a las 13:44, Marco Lancini <notifications@github.com>
escribió:

[2017-05-18 15:52] marco-lancini commented on #168
sorry can't reproduce it with the information provided

[2017-05-18 17:59] raulsiles opened #169 "Multiples retries required to be able to open the SSH session"
After running the Needle Agent v1.0.3 in the iOS mobile device, and the Needle console in OS X, when any command is run, such as "execute_command id" (or "shell"), Needle has to perform multiple retries (between 5-20, or even more) to be able to establish the SSH session and execute the indicated action.

The command is finally executed, but in the way several SSH sessions are established from the

[2017-05-19 11:13] illnino commented on #43
## Description

[!] Exception: PID not found

## ENV

Mac OS 10.11.6
iPhone OS 9.0
Python 2.7
Needle Agent 1.0.3

Needle
[code]

## Reproduction Steps

[code]

[2017-05-19 14:32] ccsplit commented on #168
@javixeneize and @f-fly2,

Can you please provide the following information from a command line: `python --version` and `pip freeze`. This will help determine if there are possibly issues with libraries conflicting, etc.

[2017-05-21 07:47] c0d3xpl0it commented on #150
I didnt get the solution for this issue.

[2017-05-22 13:05] marco-lancini commented on #169
Hi @raulsiles, thanks for reporting this. I was aware of this odd behaviour and already fixed it in the `develop` branch (could you give it a try?).
I'm gonna push the fix to the main branch soon!

[2017-05-22 13:05] #169 closed

[2017-05-22 13:07] marco-lancini commented on #161
Hi @ccsplit, are you still experiencing this issue even if using the latest version from the `develop` branch?

[2017-05-22 13:09] marco-lancini commented on #43
Hi, could you try the latest version from the `develop` branch please?

[2017-05-22 14:29] ccsplit commented on #161
@marco-lancini, It still occurs but is less frequent than it was before. Usually I can now restart the Needle-agent, or reconnect the iOS device and the issue will resolve. There have also been times where it has resolved itself when re-attempting a connection. If you'd like you can close it, and whenever I get a chance to take a look at it further I will try to create a test and a fix for the iss

[2017-05-22 21:52] SubzeroiOS commented on #150
@c0d3xpl0it In case you are still interested, I could circumvent the issue by installing the v1.1.0 of needle (https://github.com/mwrlabs/needle/releases/tag/v1.1.0) and running Dependency Installer	(device/dependency_installer).

[2017-05-23 07:01] null0x4d5a opened #171 "not able to run needle modules and get output on iPad iOS 9.3.1"
## Issue
Not able to run modules using needle on iOS 9.3.1

### Expected behaviour
As per basic usage of modules, it should run and fetch some output to console

### Actual behaviour
not able to run needle modules and get output on iPad iOS 9.3.1. I have set up needle on kali by pulling latest from github and also installed agent 1.0.3 on my JB device ipad2 ios 9.3.1 but not able to use modules. W

[2017-05-23 07:44] c0d3xpl0it commented on #150
Aaah, thanks. I was running v1.0.2. Didnt notice the new release. Just FYI 1.2.0 is out.

[2017-05-23 08:35] c0d3xpl0it commented on #150
@marco-lancini The new needle version **set SETUP_DEVICE True** is removed ?

[2017-05-23 08:37] marco-lancini commented on #150
Exactly, it has been replaced by `device/dependency_installer`: https://github.com/mwrlabs/needle/wiki/Quick-Start-Guide

[2017-05-23 08:58] marco-lancini commented on #171
is the agent on the foreground?

[2017-05-23 09:07] null0x4d5a commented on #171
yes agent 1.0.3

[2017-05-23 09:11] illnino commented on #43
No Luck

[code]

[2017-05-23 09:35] marco-lancini commented on #171
can you please enable `DEBUG` logging and post the output?

[2017-05-23 09:35] marco-lancini commented on #43
can you run other modules successfully?

[2017-05-23 09:44] null0x4d5a commented on #171
![4](https://cloud.githubusercontent.com/assets/14013208/26348418/5247909c-3fca-11e7-9ab8-62b08ebb8f97.png)
![5](https://cloud.githubusercontent.com/assets/14013208/26348422/524dcd86-3fca-11e7-9fb0-67cad17474fb.png)
![1](https://cloud.githubusercontent.com/assets/14013208/26348419/5249e54a-3fca-11e7-9ee4-9ec2d2f80946.png)
![2](https://cloud.githubusercontent.com/assets/14013208/26348420/524ca9d8-3

[2017-05-23 09:45] null0x4d5a commented on #171
Sorry, the screenshots are not in order

[2017-05-23 10:41] illnino commented on #43
## frida_trace - YES

[code]

## Screenshot - NO

[code]

[2017-05-23 12:24] marco-lancini commented on #171
seems like the agent on the device is not on the foreground...

[2017-05-23 12:25] marco-lancini commented on #43
seems related to #161

[2017-05-23 18:57] raulsiles commented on #169
Hi @marco-lancini,
After trying it with the current 'develop' branch, I get a different error, mentioned on issue #161 :
[code]

[2017-05-24 09:07] null0x4d5a commented on #171
Agent was on foreground and working

[2017-05-24 09:28] null0x4d5a commented on #171
I tried same, but it's still stuck after run command and not able to fetch any output from modules

[2017-05-24 10:23] marco-lancini commented on #171
In 2 different screenshots you are using 2 different IP addresses for the device.

In order to debug this issue, we require more information.

Ensure `VERBOSE` and `DEBUG` mode are enabled, this will provide us with more detailed needle logs:
[code]

Once you have this information, please attach the log files (starting from when you type `python needle.py`) to this thread and we can assist further

[2017-05-24 10:57] null0x4d5a commented on #171
Apart from console output, Is there any specific location for log file or
debug information stored ?

On May 24, 2017 15:53, "Marco Lancini" <notifications@github.com> wrote:

[2017-05-24 11:56] tghosth opened #172 "[!] sh: lipo: command not found"
## Issue
Running a module, e.g.  metadata, doesn't work.
It gives an error related to lipo. Do you have any idea why that would not be on the device or where to get it from?

### needle error logs
Ensure verbose and debug mode are enabled:
[code]

## Environment

#### Needle Version

- Framework (on your machine): 1.2.0
- Agent (on your device): 1.0.4

#### Device iOS Version
10.2

[2017-05-24 12:01] tghosth commented on #172
Nevermind, looks like you need to add `Darwin CC Tools` to the dependencies list...

[2017-05-24 12:10] tghosth commented on #172
oh wow, ok I didn't know `device/dependency_installer` existed. Currently investigating!

[2017-05-24 12:36] #172 closed

[2017-05-24 13:41] chengteck commented on #161
Hi guys.
Is there any update on the fix for [Errno 9] Bad file descriptor with Python 2.7.13?
I have issues running modules and I got "[Errno 9] Bad file descriptor" error for every module I run.

[2017-05-24 13:48] javixeneize commented on #168
Hi

All sorted out now. The problem was that related to the naming, as ccsplit pointed out. Thats solved now

[2017-05-24 13:48] #168 closed

[2017-05-24 13:49] marco-lancini commented on #168
@javixeneize can you please provide details?

[2017-05-24 13:51] javixeneize commented on #168
Sure. What i did was to remove the external module that had the same name

[2017-05-24 13:55] marco-lancini commented on #161
Hi @chengteck, @ccsplit: I currently can't reproduce the issue at all :S
Are you able to provide me with more info? (anything could be useful now)

[2017-05-24 14:05] chengteck commented on #161
Hi @marco-lancini
Thanks a lot for assisting.

I am using Needle Agent v.1.0.4 and Needle v1.2.0.

I have attached a series of screenshots for your reference.

Hope you are able to reproduce this issue.

Are you using Python 2.7.13 as well?

Thanks alot for helping!

![4](https://cloud.githubusercontent.com/assets/8423798/26407160/ec5de19c-40cc-11e7-92a8-647d9931f837.png)
![5](https://cloud.github

[2017-05-24 14:08] marco-lancini commented on #161
what happens if you:

[code]

(yes, I'm on the same version of python)

[2017-05-24 14:14] chengteck commented on #161
Hi there.

I got the same "[Errno 9] Bad file descriptor" error and my NeedleAgent crashed.

May I know what iOS version are you running on?
I am running on iOS 9.0.2 and running needle in a kali VM.

I have attached the screenshots for your reference.

![1](https://cloud.githubusercontent.com/assets/8423798/26407625/42079290-40ce-11e7-9006-9e94d50b8852.png)
![2](https://cloud.githubusercontent.co

[2017-05-24 15:16] marco-lancini commented on #171
Nope

[2017-05-25 10:39] tghosth opened #173 "SCP install seems to kill OpenSSH"
## Issue
Whilst using device/dependency_installer, it tries to install SCP, fails and somehow uninstalls OpenSSH at the same time.

### Expected behaviour
Is SCP even needed if this is iOS9?

### Actual behaviour
See the log below
After this has been done, the saurik OpenSSH package is showing as not installed in Cydia.

### Steps to reproduce
See log below

### needle error logs
Ensure verbose an

[2017-05-26 02:01] illnino commented on #43
You are right. `[Errno 9] Bad file descriptor` happens from time to time.

[2017-05-26 09:42] marco-lancini commented on #173
Hi @tghosth, `scp` is needed for devices running iOS 10 as it is not included by default in the `dropbear` binary dropped by the jailbreak (#136)

[2017-05-26 09:42] #173 closed

[2017-05-26 09:44] marco-lancini commented on #161
are you able to provide the full list of apps installed on your device?
any app installed manually by putting the `.app` in the `/Applications` folder?

[2017-05-29 07:00] tghosth commented on #173
Hi @marco-lancini, I understand that but this is an iOS 9 device where dropbear is not included so it needs OpenSSH.

[2017-06-05 13:06] b0ngmaster commented on #171
Hi marco, Im having the same problem, please see the full console output below, the needle agent is in the foreground, v1.0.4 and shows the connection from kali. thanks

root@kali:/usr/share/needle/needle# python needle.py

             __   _ _______ _______ ______         _______
             | \  | |______ |______ |     \ |      |______
             |  \_| |______ |______ |_____/ |_____ |______

[2017-06-05 15:36] marco-lancini commented on #171
Hi @b0ngmaster: can you connect the device to Xcode and analyse the syslog?

[2017-06-05 15:53] b0ngmaster commented on #171
i have no mac :(
are there issues with 32bit devices? this is an ipad 32bit.
Thanks

[2017-06-06 04:19] aburro opened #176 "Needles attempt to perform a Pull succeeds with no files created"
## Issue
When attempting to pull a file, the file is not created. This occurs when attempting to run a module that uses pull, and when attempting to perform a pull.

Additionally, error logs are not being created.

### Expected behaviour
The file that is pulled is expected to be created at the destination location. I have read that this is performed using scp, which is currently installed on the p

[2017-06-06 04:32] #176 closed

[2017-06-06 04:32] aburro commented on #176
Had not yet run dependency installer

[2017-06-06 18:09] nvisium-john-poulin commented on #161
I was having similar issues and got it to work by removing several unnecessary applications and rebooting the agent. Not sure why/how this fixed the issue. If you guys haven't tried rebooting the agent yet give that a go.

[2017-06-07 10:16] marco-lancini commented on #171
yeah 32bit devices are not fully supported...

[2017-06-09 16:24] pentagramz opened #178 "Not able to install Needle agent"
## Issue

### Expected behaviour
Tell us what should happen.

Link not accessible

http://mobiletools.mwrinfosecurity.com/cydia/

https://github.com/mwrlabs/needle/wiki/Installation-Guide

### Actual behaviour
Tell us what happens instead.

 Not able to add repo

### Steps to reproduce
1.
2.
3.

### needle error logs
Ensure verbose and debug mode are enabled:
[code]

## Environment

#### Needle Ve

[2017-06-12 13:18] floyd-fuh commented on #161
Just wanted to leave a "me too" here:

[code]

I actually would have tried to debug the code, as I am familiar with python... but that error message doesn't even show the root cause when debugging is enabled and it is far to generic.

On the device everything seems fine, SSH is running on 22, agent on 4444, I see Client connections and disconnecting.

Agent version 1.0.5
git describe --tags says v

[2017-06-12 13:30] ccsplit commented on #161
Hello @floyd-fuh, the main issue appears to be happening within  [needle/core/device/agent.py#handle_read](https://github.com/mwrlabs/needle/blob/master/needle/core/device/agent.py#L33) in asyncore.dispatcher.setblocking (wifi) | select.select (usb). At least that is where it was occurring for me when I was taking a look at it initially, [this diff](https://gist.github.com/ccsplit/6284feb4bb259d83

[2017-06-12 13:36] marco-lancini commented on #161
Hi @floyd-fuh, thank you for reporting this.
I would be immensely grateful if you could apply the diff proposed by @ccsplit, so to get more information about the error!

[2017-06-14 16:25] floyd-fuh commented on #161
I was on a client-separated Wifi so I thought I give USB a chance. There I was at least able to use the "shell" command to get a root shell. However, same error again:

[code]

Then, well about your patch... it's broken, the lines are cut, see https://gist.github.com/ccsplit/6284feb4bb259d83f08b7994f04624f4#file-needle-diff-L45

So I fixed the patch first as I think it should work. The patch is OK

[2017-06-15 09:11] marco-lancini commented on #178
Hi @pentagramz, can you please double check?
I can confirm the repo is up and running.

[2017-06-15 09:11] #178 closed

[2017-06-15 19:45] pentagramz commented on #178
![repo](https://user-images.githubusercontent.com/7072014/27198784-458080e8-5231-11e7-8d6d-651f39a48fd9.PNG)

Am I doing right?

Added repo in cydia mobile ..its not getting added
please help

[2017-06-16 09:21] marco-lancini commented on #178
Getting a 404 if you try to hit `http://mobiletools.mwrinfosecurity.com/cydia/` with your browser is intended behaviour. Cydia will instead use that endpoint to fetch a bunch of components needed to install the app (e.g., `NeedleAgent.deb`, `CydiaIcon.png`, etc.)

Following the instructions listed in the Installation Guide (https://github.com/mwrlabs/needle/wiki/Installation-Guide#install-the-need

[2017-06-16 15:15] marco-lancini commented on #161
Hi @floyd-fuh, first of all thanks for the info you provided, they really helped tracking down the issue.

This might prove difficult to fix to be fair. Reason is `asyncore` decides to close a socket as soon as a `recv` returns nothing: https://github.com/enthought/Python-2.7.3/blob/master/Lib/asyncore.py#L388

I tried to force a new re-negotiation of the session, but the client ends up hanging...

[2017-06-18 11:27] pentagramz commented on #178
![img_0012](https://user-images.githubusercontent.com/7072014/27260334-0892bff8-5447-11e7-8095-a804c8b3b65f.PNG)

Hi Marco , I am trying to install in ios 10.2 jailbroken.
I am not able to see the icon, the needle agent not installed.
Any pointers?

[2017-06-19 07:28] marco-lancini commented on #178
Hi @pentagramz, as you can see from the error you posted, you run out of space on your device

You won't be able to install anything until you free up some space.
Closing this as this is not related to Needle

[2017-06-19 08:18] floyd-fuh commented on #161
fyi, asyncore nearly got removed from python 3, is deprecated in python 3.6 and people better at python than me tell me that twisted or asyncio might be better options.

It might be a OSX only problem as well.

My suggestion is to research the error message a little bit further... https://duckduckgo.com/?q=asyncore+[Errno+9]+Bad+file+descriptor

[2017-06-19 08:20] floyd-fuh commented on #161
Probably a workaround: Change a line in you OSX python installation https://bytes.com/topic/python/answers/589612-asyncore-select-statement-problem
Fix: Move away from asyncore

[2017-06-19 08:31] marco-lancini commented on #161
@floyd-fuh: I had a look at the source code of `asyncore` and I see why is gonna be deprecated....
Also, it's not feasible to ask users to make amendments to their python installation.

Going forward I think the only way will involve a replacement of `asyncore` with `twisted`

[2017-06-22 14:12] floyd-fuh commented on #161
I replaced the asyncore with regular sockets. No need to do anything fancy asynchronous if not necessary.

[2017-06-22 14:45] marco-lancini commented on #161
Thank you @floyd-fuh for taking the time to address this.
I quickly checked this and it now seems to be fixed in v1.3.1 (https://github.com/mwrlabs/needle/releases/tag/v1.3.1).

Closing the issue for now.

[2017-06-22 14:45] #161 closed

[2017-06-22 14:55] floyd-fuh commented on #161
No problem, did you test it? As you know I'm on OSX and I'm unsure if it all works fine on other environments

[2017-06-22 14:57] floyd-fuh commented on #100
That's fine and all, but why not change the Installation howto that says cryptography==1.2.1 is necessary and let all users run into this bug themselves?

[2017-06-22 15:28] floyd-fuh commented on #142
Ugh... after fixing issue  #161 I now have this problem on both, a OSX and a virtual machine Linux...:

[code]

[2017-06-22 15:32] marco-lancini commented on #142
Just tested your fix on both a macOS and a Kali machine and I am not encountering such issue...

[2017-06-22 15:52] floyd-fuh commented on #142
Yes yes, sorry, that was misleading. My fix is probably fine. But I have this issue now. The mobile app crashes on list_apps command...

[2017-06-23 08:13] floyd-fuh commented on #142
So this is still an issue with my iPhone 6 on iOS 9, but I was able to get needle running with an iPad mini with an older iOS 8.4 and a different jailbreak

[2017-06-23 08:18] floyd-fuh commented on #172
Please updated the wiki documentation and tell people that:
a) they will need to run the module device/dependency_installer
Also update the error messages of that module, as it currently says:
[code]
But there is no such thing as a dependencies mentioned in the README

[2017-06-23 08:24] floyd-fuh commented on #172
Same for Core Utilities:

[code]

[2017-06-23 09:55] floyd-fuh commented on #172
And even after running the dependency installer, it said it will install [] and then everything is still missing.

So I had to install lipo and other tools from Cydia directly. I needed the following packages:
* Darwin CC Tools
* IPA Installer
* Clutch 2.0
* Open

The module binary/reversing/strings seems to be using awk, which didn't install with Core Utils strangely... and also ps is missing etc

[2017-06-23 09:59] floyd-fuh opened #182 "Static analysis"
I was wondering why "static/code_checks" is run on the device? I actually think the greps are nice, in fact I wrote a similar tool a long time ago which can be found on https://github.com/floyd-fuh/crass/blob/master/grep-it.sh .

I think it would make more sense to join forces here rather than reinventing the wheel.

[2017-06-26 14:06] marco-lancini commented on #182
Hi @floyd-fuh, you are correct: the module is *not* run on the device.

It would be amazing if we could join forces and create a single knowledge base of known issues!

[2017-07-04 11:21] florian-eichelberger opened #183 "Issue with blanks in the app name."
## Issue

### Expected behaviour
The app should be able to download files correctly e.g. Info.plist

### Actual behaviour
The app seems to have some issues with blanks in the name of the app.

### Steps to reproduce
1. start needle agent on device and needle.py on the host
2. use binary/info/metadata -> run
3.

### needle error logs
Ensure verbose and debug mode are enabled:
[code]

## Environment

[2017-07-04 12:30] marco-lancini commented on #183
duplicate of #151

[2017-07-04 12:30] #183 closed

[2017-07-13 08:57] #151 closed

[2017-07-13 09:07] marco-lancini commented on #182
Hi @floyd-fuh, do you think you'll have time to work on this?

[2017-07-13 09:07] #171 closed

[2017-07-13 09:08] floyd-fuh commented on #182
Frankly, no :)

[2017-07-19 23:02] sushi2k opened #187 "Error when using dynamic/memory/heap_dump"
## Issue

### Expected behaviour
Dumping the heap memory a specified app when using dynamic/memory/heap_dump.

### Actual behaviour
When using dynamic/memory/heap_dump I get the following error:

[code]

### Steps to reproduce

[code]

Afterwards the error message above is thrown.

### needle error logs
Ensure verbose and debug mode are enabled:
[code]

## Environment

#### Needle Version

- Frame

[2017-07-20 10:23] marco-lancini commented on #187
https://github.com/mwrlabs/needle/issues/164

[2017-07-20 10:23] #187 closed

[2017-07-25 12:52] ThePirateWhoSmellsOfSunflowers commented on #172
Hi!
Don't know if it helps but you can find `awk` with Cydia by installing `Gawk`.

:sunflower:

[2017-07-27 22:34] rromanen opened #188 "can't start needle.py (ImportError)"
## Issue
Getting an error when I try to launch the needle.py script as so, python needle/needle/needle.py
### Expected behavior
Needle script needs to launch to display script options

### Actual behavior
Receive ImportError: No module named cryptography.hazmat.backends

### needle error logs

$ python needle/needle/needle.py
Traceback (most recent call last):
  File "needle/needle/needle.py", lin

[2017-07-31 06:29] JoelPagliuca commented on #164
I have just run into the same problem, I've installed the dependencies listed in your documentation (Cydia and Apt 0.7 Strict) @marco-lancini are there any other Cydia packages you may have left out?

[2017-07-31 06:47] JoelPagliuca commented on #84
I am also experiencing this, possibly worth noting the Cydia package required in the docs?

[2017-07-31 15:42] marco-lancini commented on #188
Please refer to the installation guide: https://github.com/mwrlabs/needle/wiki/Installation-Guide

[2017-07-31 15:42] #188 closed

[2017-07-31 15:43] marco-lancini commented on #164
Hi @JoelPagliuca, the dependencies are pre-requisites that needs to be already installed for needle to start. All the other dependencies can automatically be installed by needle with the `dependency_installer` module: https://github.com/mwrlabs/needle/wiki/Quick-Start-Guide#device-dependencies

[2017-07-31 15:44] marco-lancini commented on #84
Hi, please refer to this comment: https://github.com/mwrlabs/needle/issues/164#issuecomment-319109577

[2017-07-31 23:38] JoelPagliuca commented on #164
Working perfectly @marco-lancini, thank you heaps for the support, maybe worth making that section more obvious for spuds like me?

[2017-08-01 08:12] pragyan1994 opened #189 "Python script not executing."
## Python script not executing - throwing error

### The whole script should be running smoothly since all the specifications are updated and synced.

### needle$: sudo -H pip install --upgrade --user biplist
Password:
Requirement already up-to-date: biplist in /private/var/root/Library/Python/2.7/lib/python/site-packages
needle$: python needle.py
Traceback (most recent call last):
  File "needle.

[2017-08-03 16:46] marco-lancini commented on #189
Hi @pragyan1994, somehow biplist is not being installed correctly on your system.
I'll have to close this issue as it is not related to needle.

[2017-08-03 16:46] #189 closed

[2017-08-07 18:49] marco-lancini commented on #164
@JoelPagliuca, good idea. I modified the [Installation Guide](https://github.com/mwrlabs/needle/wiki/Installation-Guide) accordingly

[2017-08-16 15:08] ngsimon commented on #142
I had similar issue while running the agent version v1.0.5 on iOS 9.3.5 on ipad 32bit with the Cydia App "Activator". After removing the App "Activator", the agent worked again with LIST_APPS opcode.

[2017-08-17 14:40] javedparmar commented on #168
@javixeneize: Can you please provide just 1 more step ahead insight. I am facing the same issue. And based on above statement, i guess I am very near to what it has been mention here.

I didn't get based on your last statement "remove the external module that had the same name"?

[2017-08-18 17:17] javixeneize commented on #168
Hi

Not sure if i recall it correctly

The thing was that i had a library installed that had the same name as a
needle module. Python was trying to find the methods in that library
instead of in the needle module.

So, what i did was to remove the external library to avoid the naming issue

Hope it helps

El El jue, 17 ago 2017 a las 16:18, javedparmar <notifications@github.com>
escribió:

[2017-08-18 18:01] ccsplit commented on #168
Hello @javedparmar,

More than likely you have the [needle](https://pypi.python.org/pypi/needle) package installed. Which if you want to get the path of the file being imported you can obtain it by doing: `python -c "import needle; print needle.__file__"`. If you want to check to see if it is the other [needle](https://pypi.python.org/pypi/needle) you can try `pip freeze | grep needle` and if it a

[2017-08-28 21:06] platix opened #191 "Error when the application has a whitespace in the name"
## Issue
When the app name has a whitespace, needle doesn't scape well the location and the scripts fails.

[*] Retrieving app's metadata...
[*] Pulling: '/private/var/containers/Bundle/Application/703F3017-0AF7-4B69-B643-B272646E7CC6/e Name.app'"'"'/Info.plist' -> /root/.needle/tmp/plist
[!] IOError: [Errno 2] No such file or directory: '/root/.needle/tmp/plist'

[2017-08-28 21:16] marco-lancini commented on #191
duplicate of #80

[2017-08-28 21:16] #191 closed

[2017-08-30 21:10] kahashi opened #192 "Static\Code_Check not returning any results"
## Issue
When I run the static/code_checks modules, I get the following:

[needle][code_checks] > run
[V] Static Module, connection not needed...
[*] Checking for insecure functions...
[needle][code_checks] >

### Expected behaviour
A static code analysis should run against my IPA file and provide me some kind of results (whether something was found or not)

### Actual behaviour
Nothing

### Steps

[2017-08-31 07:55] marco-lancini commented on #192
Hi, this module requires the source code of your target app, not the IPA.

[2017-08-31 07:55] #192 closed

[2017-09-10 05:16] 0xff7 opened #193 "Issue with biplist"
when trying to run needle.py in latest version of Sierra I get the following output

`$ python ./needle.py
Traceback (most recent call last):
  File "./needle.py", line 9, in <module>
    from core.framework import cli
  File "/Users/tim/needle/needle/core/framework/cli.py", line 8, in <module>
    from ..utils.printer import Colors, Printer
  File "/Users/tim/needle/needle/core/utils/printer.py",

[2017-09-10 18:36] marco-lancini commented on #193
please read the installation guide: https://github.com/mwrlabs/needle/wiki/Installation-Guide#os-x

[2017-09-10 18:36] #193 closed

[2017-09-15 15:22] bugzapperini opened #194 "NeedleAgent not visible after Installation"
## NeedleAgent not visible after Installation

### Expected behaviour
NeedleAgent should be visible after Installation in jailbroken iPhone.

### Actual behaviour
I have iphone 6s with iOS 9.3.2.

### Steps to reproduce
1.I've downloaded NeedleAgent.deb file from latest release.

2. I installed it using Filza File Manager as well as MobileTerminal.
3. After respring it is not visible in list of ap

[2017-09-15 15:32] marco-lancini commented on #194
Hi @bugzapperini, you don't have to manually install the deb file to install the agent, you can install it from Cydia: https://github.com/mwrlabs/needle/wiki/Installation-Guide#install-the-needle-agent

[2017-09-15 15:32] #194 closed

[2017-09-18 12:09] 0xff7 opened #195 "getting these errors help?"
When running ``python needle.py`` I get the following errors
`$ python needle.py
Traceback (most recent call last):
  File "needle.py", line 9, in <module>
    from core.framework import cli`

  `File "/Users/tim/needle/needle/core/framework/cli.py", line 8, in <module>
    from ..utils.printer import Colors, Printer`

  `File "/Users/tim/needle/needle/core/utils/printer.py", line 4, in <module>

[2017-09-18 21:08] marco-lancini commented on #195
Duplicate #193

[2017-09-18 21:08] #195 closed

[2017-09-20 09:35] whoot opened #196 "Missing PGP Key"
## Issue

### Expected behaviour
Dependencies should be installed on iPhone.

### Actual behaviour
The following error is thrown:
[code]

### needle error logs
Ensure verbose and debug mode are enabled:
[code]

## Environment

#### Needle Version

- Framework (on your machine): v1.3.2
- Agent (on your device): v1.0.5

#### Workstation Operating System

macOS Sierra 10.12

#### Python Version

2.7.

[2017-09-27 01:44] nanshihui opened #197 "a lot of modules do not support ios10"
a lot of modules do not support ios10,
how to do with it

[2017-09-27 07:20] nanshihui opened #198 "sh: lipo: command not found on kali"
as you said that needle worked both on mac and kali.
however i tried it ,it failed.

[2017-09-27 09:04] lianfeng30 commented on #198
兄弟 看这：https://github.com/mwrlabs/needle/wiki/Installation-Guide 嘻嘻

[2017-09-27 18:48] marco-lancini commented on #197
In order to debug this issue, we require more information.

Ensure `VERBOSE` and `DEBUG` mode are enabled, this will provide us with more detailed needle logs:
[code]

Once you have this information, please attach the log files (starting from when you type `python needle.py`) to this thread and we can assist further.

[2017-09-27 18:48] marco-lancini commented on #198
duplicate of #172

[2017-09-27 18:48] #198 closed

[2017-10-28 09:17] stathisb opened #199 "Problem with Applications that contain a space on their name"
## Issue
It seems that Needle cannot play with apps that contain a space or spaces on their package name. For example it works fine with apps that their name composed from a single word (e.g. /private/var/mobile/Container/Bundle/Application/<ID>**appname**/ ). However there is a problem when the Needle dealing with apps that their name composed from more than one word (e.g. /private/var/mobile/Con

[2017-10-29 15:15] marco-lancini commented on #199
duplicate of #80

[2017-10-29 15:15] #199 closed

[2017-11-07 19:24] B4RD4k opened #200 "Cant install needle agent on IOS"
Hey,
I can't add the Cydia source and install needle agent on my IOS 9.3.2 device.

Can you please help?

[2017-11-07 23:33] marco-lancini commented on #200
In order to debug this issue, we require more information.

What steps are you performing? What error are you getting?

[2017-11-08 07:24] B4RD4k commented on #200
I'm closing the issue, since it was a problem on my device.
thank you so much

[2017-11-08 07:24] #200 closed

[2017-11-15 10:59] allRiceOnMe commented on #193
Ok, I just want to mention that I had similar issues using the latest version of High Sierra.

My solution to this:

[code]

Now running needle with following command should work:

[code]

Note that running `$ python needle.py` still doesn't work (Error message `IOError: [Errno 2] No such file or directory`).

I don't have an explanation for this. Maybe you have ...

[2017-11-16 13:38] B4RD4k opened #201 "[!] 'NoneType' object has no attribute 'exec_command'"
Hey,
After running dependency_check module, i got this error.
Please help
IOS 9.3.2
![image](https://user-images.githubusercontent.com/7777720/32894000-27a7e832-cae4-11e7-9cd9-52e3c5563f0f.png)

[2017-11-16 13:39] marco-lancini commented on #201
In order to debug this issue, we require more information.

Ensure `VERBOSE` and `DEBUG` mode are enabled, this will provide us with more detailed needle logs:
[code]

Once you have this information, please attach the log files (starting from when you type `python needle.py`) to this thread and we can assist further.

[2017-11-16 13:42] #201 closed

[2018-01-08 18:59] ajohnston9 opened #202 "Anti-Hooking Script missing argument"
## Issue
The anti-hooking script is not running due to a Python error. Attempts to run the script from a frida shell after supplying a hardcoded `title` and `content` result in an error about missing a parameter. Frida shell and other scripts work normally.
### Expected behaviour
Needle should use frida to check whether it is possible to generate a dialog box.
### Actual behaviour
Python produces

[2018-01-19 12:42] cmorell commented on #75
Hi,
I'm new in iOS pentesting. I want to set up the environment in iOS Simulator (no jailbreak device).

At this moment I have needle agent in iOS Simulator, but how do you solve the ssh connection (:2222)? I need it in order to use needles modules.

There are something in configuration to set up an iOS Simulator? Please I need help :(

[2018-01-24 00:21] olbrichj commented on #197
Here is one output for pull_ipa

[code]

[2018-01-27 02:04] subrosaassociates opened #205 "Adding Needle-Agent as per documentation"
## Issue
The Repo no-longer exists at http://mobiletools.mwrinfosecurity.com/cydia/ for ios
### Expected behaviour
if the documentation is correct, it should be there, to be added to cydia sources, to be searched, downloaded and installed

### Actual behaviour
it doesnt exist

### Steps to reproduce
1.follow the documentation to acquiring the agent via cydia ( https://github.com/mwrlabs/needle/wik

[2018-01-27 02:29] subrosaassociates commented on #205
I got it installed by pulling the mobiletools site (hosted on here, and hosting it locally)
https://github.com/mwrlabs/mobiletools

[2018-01-27 09:03] 0xff7 opened #206 "biplist install issue"
Any idea how to fix this? I've installed biplist through homebrew. I'm on macOS 10.13.2

`python needle.py
Traceback (most recent call last):
  File "needle.py", line 9, in <module>
    from core.framework import cli
  File "/Users/tim/needle/needle/core/framework/cli.py", line 8, in <module>
    from ..utils.printer import Colors, Printer
  File "/Users/tim/needle/needle/core/utils/printer.py", l

[2018-01-27 11:30] subrosaassociates commented on #206
```sudo easy_install biplist``` should do it

[2018-01-27 11:32] 0xff7 commented on #206
Had to do the same for sshtunnel but yep that fixed it! Thanks

[2018-01-27 11:32] #206 closed

[2018-01-29 15:42] marco-lancini commented on #197
Hi @nanshihui, this is expected behaviour

[2018-01-30 16:21] nanshihui commented on #197
thanks a lot

[2018-02-06 01:38] spinkham opened #207 "dependency_installer does not install needed packages"
## Issue
dependency_installer does not install needed packages

### Expected behaviour
Installs required packages

### Actual behaviour
Does not install required packages. Installs only coreutils and coreutils-bin, and then exits, even when simple packages like awk and complex setups like theos are not yet installed.

### Steps to reproduce
1. use dependency_installer
2. run

### needle error logs

[2018-02-13 15:30] simonjgamer opened #208 "Can't connect to device with or without USB"
## Issue
Problem establishing connection: AttributeError - '_EllipticCurvePublicKey' object has no attribute 'verify'

### Expected behaviour
Should able to connect to the device

### Actual behaviour
Getting Problem establishing connection: AttributeError - '_EllipticCurvePublicKey' object has no attribute 'verify'

### Steps to reproduce
1. Install all dependency in the Mac
2. Running via config

[2018-02-14 10:36] ShilpaRanganatha opened #209 "Problem establishing connection: IndexError - tuple index out of range"
## Unable to take SSH over USB or using IP Address

### Expected behaviour
A connection should have been established successfully.

### Actual behaviour
- When taking SSH over USB, error encountered is : Problem establishing connection: IndexError - tuple index out of range  .
- When taking SSH using IP Address, error encountered is : Exception: Could not open a connection to 10.199.45.184. NoVali

[2018-02-14 11:39] HenryHoggard commented on #209
Can you try SSH to the device manually and see if it works.

[2018-02-19 08:31] whoot opened #212 "Support for iOS 11 planned?"
Hey there,

since there is a jailbreak for iOS 11 out, are you planning support for iOS 11?

Greetings

[2018-02-20 21:58] marco-lancini commented on #196
@whoot this is an issue in a dependency, not in needle
@HenryHoggard I suggest to close this issue

[2018-02-20 21:58] marco-lancini commented on #197
@HenryHoggard I suggest to close this issue

[2018-02-20 21:59] marco-lancini commented on #205
I can ensure the repo is still available at the URL pointed in the installation guide.
@HenryHoggard I suggest you close this issue

[2018-02-20 22:01] marco-lancini commented on #208
Try to downgrade paramiko to version 2.1.2 and see if the error persists

[2018-02-20 22:01] subrosaassociates commented on #205
<img width="1187" alt="screen shot 2018-02-20 at 22 00 47" src="https://user-images.githubusercontent.com/34861344/36451616-8eba2436-1689-11e8-955d-8aa3966c3b79.png">
<img width="1148" alt="screen shot 2018-02-20 at 22 00 37" src="https://user-images.githubusercontent.com/34861344/36451617-8ed45a18-1689-11e8-89ba-8580a4c3c31f.png">

[2018-02-20 22:03] marco-lancini commented on #205
@subrosaassociates: this is intended behaviour. The repo is not intended to be parsed by web browsers but by Cydia

[2018-02-20 22:05] subrosaassociates commented on #205
ah, i only viewed it in the browser when it failed in cydia ... it doesnt matter to me now I pulled the site and hosted it locally - from my journey, i assumed the cydia site was down as it exhibited all the signs of being removed (at the time) - that's not to say it's not my fault, but it didnt look like it.

Needles working fine for me, having hosted it locally and added a local repo :) thanks f

[2018-02-20 22:11] marco-lancini commented on #209
@ShilpaRanganatha:

This is intended behaviour, as the dropbear daemon dropped by the iOS 10 jailbreak only listens on localhost

[2018-02-20 22:12] marco-lancini commented on #202
Hi @ajohnston9 I can ensure the scripts works as intended.
In order to debug this issue, we require more information.

Ensure `VERBOSE` and `DEBUG` mode are enabled, this will provide us with more detailed needle logs:
[code]

Once you have this information, please attach the log files (starting from when you type `python needle.py`) to this thread and we can assist further.

[2018-02-20 22:13] marco-lancini commented on #205
No worries! :)
Happy it is helpful for you

[2018-02-20 22:17] #205 closed

[2018-02-21 11:30] HenryHoggard commented on #212
Yes, we haven't started looking at the changes between 10 and 11 yet, or what doesn't work with Needle. If you have an iOS 11 device you can help us by reporting things that don't work with needle on iOS 11.

[2018-02-21 11:32] HenryHoggard commented on #197
Is this a dependency issue, what is the reason why this module isn't supported on 10?

[2018-02-21 19:58] marco-lancini commented on #197
`pull_ipa` relies on `AppSync` which causes a boot loop on iOS 10

[2018-02-28 09:55] ShilpaRanganatha commented on #209
I am aware of that. Here the problem is that needle is not able to ssh into the device (os- 10.2.1) with usb.

[2018-03-14 17:07] GrahamM opened #242 "[iOS11] list_apps fails"
## Issue

### Expected behaviour
Target app wizard returns apps to be targeted

### Actual behaviour
Target app wizard returns nothing.

### Steps to reproduce
1. Run a module, and allow the target app wizard to run.

### needle error logs
[code]

## Environment

#### Needle Version

- Framework (on your machine):  1.3.2
- Agent (on your device): 1.0.5

#### Workstation Operating System
Kali 2018.

[2018-03-15 19:44] whoot commented on #212
Will do!
Got a device with iOS 11 and will report whats (not) working.

[2018-03-20 14:48] whoot commented on #212
Alright, I tried some modules and identified one main issue. The dependency installer does not work (already mentioned in #207 ). It seems that some tools are not maintained anymore and are therefore not available for iOS 11.

**device/dependency_installer**
	-> Package 'coreutils' has no installation candidate
	-> I think this error will pop up on many more packages
	-> Maybe you should update th

[2018-03-21 07:55] pragyan1994 opened #243 "Problem establishing connection"
## Issue - Problem establishing connection

### Expected behaviour
The device should be connected and it should be working

### Actual behaviour

  Name                      Current Value                             Required  Description
  ------------------------  -------------                             --------  -----------
  AGENT_PORT                4444

[2018-03-21 08:29] whoot commented on #242
Cant reproduce. Works fine for me on iOS 11.0.3.
With "HIDE_SYSTEM_APPS = True" I get:
[code]

[2018-03-21 10:15] ArnCo commented on #197
Hi Marco,
I have not been using needle for a while, but I seem to remember that it worked at one point.
Is there any plan to support IOS10 "again" in the near future ?
Cheers.

[2018-03-21 12:43] HenryHoggard commented on #197
@ArnCo  iOS 10 should be for the most part supported. If you have issues with any modules then create an issue and we will fix them. In regards to this particular issue Appsync Unified" from https://cydia.angelxwind.net/  is tested and safe to use on iOS 10, so we will commit a fix that allows ipa_installer on iOS 10 when appsync unified is installed.

[2018-03-21 12:45] HenryHoggard commented on #197
Renamed issue to more relevant title..

[2018-03-21 12:50] HenryHoggard commented on #243
Can't reproduce this. What jailbreak are you using

[2018-03-23 05:06] pragyan1994 commented on #243
Hi Henry, i am using phoneix jailbreak. It is semi - jailbreak though. should that be an issue anyway ?

[2018-03-23 07:57] pragyan1994 commented on #243
Hi Henry,

Right now, i am getting this issue.

[needle][list_apps] > use  device/list_apps
[+] Resource file successfully loaded
[needle][list_apps] > use  device/list_apps
[needle][list_apps] > run
[*] Checking connection with device...
[V] Connection not present, creating a new instance
[V] [AGENT] Connecting to agent (192.168.43.149:4444)...
[+] [AGENT] Successfully connected to agent (192.168

[2018-03-23 09:49] HenryHoggard commented on #243
Try manually ssh to the device and show me what happens.

[2018-03-26 06:56] pragyan1994 commented on #243
It is giving me a bind error 1!

[2018-03-26 08:41] HenryHoggard commented on #243
This isn't a needle issue, this is an issue with your device or jailbreak then.

[2018-03-26 08:41] #243 closed

[2018-03-28 07:52] kaleemshaik7867 opened #244 "Could not find the cydia repository to add needle agent"
## Issue

Hi, While trying to add new resource getting error saying "page does not exist"

http://mobiletools.mwrinfosecurity.com/cydia/

![image](https://user-images.githubusercontent.com/7692857/38015934-7dd818ba-327e-11e8-940f-1768ea4b9292.png)

[2018-03-28 08:52] HenryHoggard commented on #244
Thanks - we're aware, Github pages is where the repo is hosted, Github changed how GH pages works and has messed up the Cydia repo, we are just working on getting new hosting.

[2018-03-28 08:53] HenryHoggard commented on #244
In the meantime you can install it manually.

[2018-04-07 14:21] pentagramz opened #246 "Unable to run Needle"
## Issue
Unable to run Needle
### Expected behaviour
Tell us what should happen.
Console should run
### Actual behaviour
Tell us what happens instead.
error
### Steps to reproduce
1.
2.
3.

### needle error logs
Ensure verbose and debug mode are enabled:
[code]

## Environment

#### Needle Version

- Framework (on your machine):
- Agent (on your device):

#### Workstation Operating System
Mac OSX

[2018-04-12 06:35] FernandoQuintero commented on #242
Got the same problem, no Apps found, running
iDevice: IPAD 11.0.2
Host: MacOSX 10.13.3

Python 2.7.14
needle 1.3.2
needle agent: 1.0.5

Jailbreak with Elektra, and all the stuff APT Strict installed.

Some idea?

[2018-04-21 19:36] klmitchell2 commented on #242
on iOS 11.1 (with Electra 1.0.4 jailbreak) `list_apps` returns no applications as well. Setting APP to a known bundle identifier returns `[!] KeyError: 'com.Example.App'`.

[2018-04-23 00:35] klmitchell2 commented on #242
Update: Enabling tweaks in Electra 1.0.4 results in `list_apps` working as expected.

[2018-04-23 11:44] kryptoknight13 commented on #209
facing same issue on iOS 11.0

[2018-04-24 14:47] whoot commented on #242
Close and resolved?

[2018-04-26 11:08] poldenais opened #247 "Issue connection to agent when running metadata commands on an application"
## Issue
I can run needle and have the agent installed and show modules works and the list apps on the devices works but when I choose an app in [metadata] it errors on connection again.

### Expected behaviour
Tell us what should happen.

### Actual behaviour
it fails to connect and attempts to connect 3 times.

### Steps to reproduce
1. Needle agent active, run use binary/info/metadata
2. Apps l

[2018-04-26 13:01] #247 closed

[2018-04-26 13:01] poldenais commented on #247
installed Darwin CC tools to fix this. had it on before and didn't realise it was removed.

[2018-05-03 13:21] szeghybarna opened #248 "module versions"
Hello, anybody can list out the required module versions for these packages?

- paramiko
- sshtunnel
- frida
- biplist
- cryptography

I read on an other issue,  required version for cryptography is 1.2.1. Is it true? I have a problem with setup on OSX, and at first I'd like to fix the versions of modules.

Thanks,
Barna

[2018-05-03 13:32] szeghybarna opened #249 "No handlers could be found for logger "paramiko.transport""
## Issue

### Expected behaviour
working SSH connection

### Actual behaviour
dropped SSH connection

### Steps to reproduce
1. python needle.py -r ../config.txt
2. use device/dependency_installer
3. run

### needle error logs
Ensure verbose and debug mode are enabled:
[code]

## Environment

#### Needle Version

- Framework (on your machine): v1.3.2
- Agent (on your device): v.1.0.5

#### Worksta

[2018-05-03 14:29] #249 closed

[2018-05-03 14:29] #248 closed

[2018-05-04 10:37] samlframework opened #250 "Mac Terminal gets hung will executing commands on the device"
## Issue
Terminal gets hung and can't execute further commands.

### Expected behaviour
Command should execute and should give us the result and the terminal shouldn't hung.

### Actual behaviour
Terminal gets hung, no response :(

### Steps to reproduce
1. Start the needle agent on the phone and make sure its listening on the proper port.
2. From the mac machine, connect to the agent and run comm

[2018-06-11 03:59] ChengChengCC opened #251 "run "binary/reversing/strings" on iOS 10, needle crash."
## Issue
When I use needle ` use binary/reversing/strings`, then `run`, it crashed.
### Expected behaviour
Tell us what should happen.

### Actual behaviour

[?] Do you want to back it up first?
[?] Y: the content will be archived in a different location, then the folder will be emptied
[?] N: no action will be taken (destination files might be overwritten in case of filename clash)
[y/n]: Y
[V] A

[2018-06-19 22:29] omkarparth opened #253 "ImportError: No module named biplist"
## Issue
Even after following the installation guide for Mac OS and downloading/installing all the dependencies/requirements the needle python file does not execute.

### Actual behaviour
I am getting the following error:
$ python needle.py
Traceback (most recent call last):
  File "needle.py", line 9, in <module>
    from core.framework import cli
  File "/Users/ADMParkhe/needle/needle/core/frame

[2018-06-22 10:35] Yogehi commented on #253
hello,

if you ran `sudo -H pip install --upgrade --user biplist` to install `biplist` then you may need to run `sudo -H python ./needle.py` to run needle.

[2018-06-25 02:20] VirenMohindra commented on #253
@Yogehi `sudo` didn't change anything.

output

[code]

[2018-06-27 05:36] peterfillmore commented on #242
Worked out a fix for iOS 11.
iOS 11 has added an entitlement for list databases:
com.apple.private.coreservices.canmaplsdatabase

This needs to be added to the entitlements for the NeedleAgent

my fix was to resign the application with that entitlement
Heres the updated entitlement:

[code]

Steps to fix
1. Install jtool onto the device.

2. dump the current entitlements
``/Applications/NeedleAgen

[2018-06-27 21:36] omkarparth commented on #253
It worked for me. Thanks :)

[2018-06-27 21:37] #253 closed

[2018-06-28 02:45] VirenMohindra commented on #253
easy_install for other components worked for me. pip was being cumbersome for some reason.

[2018-06-28 08:57] garyddison opened #254 "Kali"
## Issue
When trying to run the needle python script after installing all dependencies successfully I get the following error
### Expected behaviour
Console should load

### Actual behaviour
Traceback (most recent call last):
  File "needle.py", line 9, in <module>
    from core.framework import cli
  File "/tools/needle/needle/core/framework/cli.py", line 8, in <module>
    from ..utils.printer i

[2018-07-11 07:57] pranavm2015 opened #255 "Push command not working in ubuntu"
## Issue

### Expected behaviour
Tell us what should happen.
File should push to device

### Actual behaviour
Tell us what happens instead.
No action occurs

### Steps to reproduce
1. Run push command with parameters

### needle error logs
Ensure verbose and debug mode are enabled:
[code]
No error logs arise.

## Environment

#### Needle Version

- Framework (on your machine): 1.3.2
- Agent (on yo

[2018-07-18 03:34] sugiantoaudi opened #256 "LIST_APPS crashes NeedleAgent 1.0.5 (Terminating app due to uncaught exception 'NSInvalidArgumentException'...)"
## Issue
Modules invoking list_apps are not usable.

I was hoping that invoking other modules directly with a SET APP would bypass the list_apps function. However, it did not. It would still crash the NeedleAgent as it still invokes list_apps.

e.g.
[code]

Very likely to be related to #142  and #242

### Expected behaviour
list_apps should be invoked correctly and return list of apps.

### Actual

[2018-07-24 14:35] meetinthemiddle-be commented on #246
How does python needle.py treat you instead of needle-cli.py?

[2018-07-24 14:51] pentagramz commented on #246
Solved it both working fine now

On Tue, Jul 24, 2018, 8:05 PM meetinthemiddle-be <notifications@github.com>
wrote:

[2018-07-24 16:38] meetinthemiddle-be commented on #242
I'm having the exact same issue; /device/list_apps module returns an empty list, but still asks for a number to input. manually setting APP to com.publisher.appname results in a KeyError (to be expected as you're trying to access an index in an empty list). Enabling Tweaks in Electra does not solve the issue as it did for @klmitchell2.

Version info in my setup:

*on iPhone 6+*
iOS: 11.1.2
Electra

[2018-07-26 09:13] mehadhe opened #257 "Problem establishing connection"
## Issue

[code]

### Expected behaviour
Successful connection
Going forward, We will test the application without any hurdle.

### Actual behaviour
SSH keeps on disconnecting...
Initial setup itself not working which prevents executing the modules on needle.

![image](https://user-images.githubusercontent.com/4860462/43303850-4bbe09d2-918f-11e8-803a-b8c2dd463dc6.png)

### Steps to reproduce
1. Li

[2018-07-26 09:31] mehadhe opened #258 "No Valid Connections"
## Issue

Below are options set using the configuration file:
set VERBOSE True
set APP
set DEBUG True
set HIDE_SYSTEM_APPS False
set USERNAME root
set PASSWORD alpine
set IP <Device IP Address>

[D] Setup local output folder: /var/root/.needle/output
[?] Attention! The folder chosen to store local output is not empty: /var/root/.needle/output
[?] Do you want to back it up first?
[?] Y: the content

[2018-07-26 15:15] #258 closed

[2018-07-26 15:53] mehadhe commented on #249
Hello szeghybarna, Did u found the solution?  Experiencing the same problem....  Pls assist on this. Thank you.

[2018-07-26 16:14] marco-lancini commented on #208
Close due to inactivity

[2018-07-26 16:14] #208 closed

[2018-07-26 16:16] marco-lancini commented on #244
Close due to inactivity

[2018-07-26 16:16] #244 closed

[2018-07-26 16:16] #246 closed

[2018-07-26 16:19] marco-lancini commented on #254
Hi, from the error you can see that:

Please follow the [Installation Guide](https://github.com/mwrlabs/needle/wiki/Installation-Guide) and install all the dependencies before trying to run needle

[2018-07-26 16:19] #254 closed

[2018-07-26 16:19] marco-lancini commented on #255
In order to debug this issue, we require more information.

Ensure `VERBOSE` and `DEBUG` mode are enabled, this will provide us with more detailed needle logs:
[code]

Once you have this information, please attach the log files (starting from when you type `python needle.py`) to this thread and we can assist further.

[2018-07-26 16:24] #72 closed

[2018-07-26 16:30] marco-lancini commented on #209
Are you still experiencing the same issue?

[2018-07-26 16:34] marco-lancini commented on #242
@peterfillmore: resigning manually is not a viable option to consider. If that entitlement is really needed, we will have to release a new version of the Agent.

@peterfillmore, @meetinthemiddle-be: have you tried what proposed by @klmitchell2?

[2018-07-26 16:37] marco-lancini commented on #250
Hi, from the error you can see that:

Please follow the [Installation Guide](https://github.com/mwrlabs/needle/wiki/Installation-Guide) and install all the dependencies before trying to run needle

[2018-07-26 16:37] #250 closed

[2018-07-26 16:38] marco-lancini commented on #256
Duplicate of #242

[2018-07-26 16:38] #256 closed

[2018-07-26 16:39] marco-lancini commented on #257
Can you SSH into the device manually? (without using needle)

[2018-07-26 17:40] mehadhe commented on #257
Hi There,

Yep. I can able SSH into the device manually. But, Through needle it's not
working out. And now, paramiko.transport warning occurs with no connection.
Struggling to resolve for the past 2 days.

Regards,
Sameer

On Thu, Jul 26, 2018, 10:09 PM Marco Lancini <notifications@github.com>
wrote:

[2018-07-26 17:45] Yogehi commented on #257
@mehadhe weird question, but is your device set so the screen doesn't turn off automatically? the screen needs to be on while needle is running

[2018-07-26 17:49] mehadhe commented on #257
Yes. I'm cautious that the needle agent app to be in foreground to observe
the response.

On Thu, Jul 26, 2018, 11:15 PM Ken Gannon <notifications@github.com> wrote:

[2018-07-26 18:32] Yogehi commented on #257
can you post the full terminal log? i know you set "debug true" but i want to see the exact commands needle is running, which means i need to see the full terminal log

[2018-07-26 20:52] bshieh opened #260 "Unable to SSH with wifi or USB using Needle"
## Issue
Unable to run modules in Needle because I'm unable to SSH with wifi or USB using needle. However, I can SSH with wifi and USB from the terminal just fine.

To enable SSH with USB, I followed this guide here:
https://www.reddit.com/r/jailbreak/comments/5r2mwr/tutorial_how_to_use_dropbear_ssh_via_usb_on/
It includes creating a file com.usbmux.iproxy.plist and putting it here: /Library/Launc

[2018-07-26 21:33] peterfillmore commented on #242
Yes - tried to disable tweaks in electron jailbreak and that didn’t fix the issue.

Checking the error logs indicated it was an entitlements issue with my particular device at least (iOS 11.0 - electron jailbreak)

My understanding is that at some stage iOS added an entitlement to be able to read SQLite databases outside of an apps container (i think - I can’t seem to locate much info on this)
Sin

[2018-07-26 21:36] marco-lancini commented on #242
@Yogehi: are you able to reproduce the issue/fix?

[2018-07-27 00:45] bshieh commented on #257
Yes, I tried rebooting my macbook to be sure. Something to note is that when I used "shell" in Needle, it worked only the very first time I ran it. All subsequent attempts failed with the same error message as when running a module.

[2018-07-27 06:08] meetinthemiddle-be commented on #242
Like @peterfillmore , for me toggling Electra "tweaks" didn't produce different results for Needle.

Aside from this issue, it might be an idea to catch this condition (zero length app list).

Also, if one knows the UUID of the app, which one could figure out manually through SSH, would there be a way of using that string in the APP variable directly if the app list is unavailable, rather than usi

[2018-07-27 06:10] mehadhe commented on #257
Hi Ken,

Sorry, I couldn't able to reply due to too late. PFA the screenshots for
your reference. Hope the following screenshots will help.

Regards,
Sameer

On Fri, Jul 27, 2018 at 12:02 AM, Ken Gannon <notifications@github.com>
wrote:

--

Thanks & Regards,
Mehadhe Sameer
.J

[2018-07-27 06:32] mehadhe commented on #257
@Yogehi , PFA the screenshots for your reference. Hope this helps...

![image](https://user-images.githubusercontent.com/4860462/43305254-b19b76f4-9194-11e8-9d8a-dad60f677e07.png)

![image](https://user-images.githubusercontent.com/4860462/43305223-8b063efc-9194-11e8-9158-fba88a499fdf.png)

![image](https://user-images.githubusercontent.com/4860462/43305270-c1fb8476-9194-11e8-8e47-8b58bcb94c46.png

[2018-07-27 13:51] Yogehi commented on #257
can you run `ps ax | grep needle` in another terminal while running needle?

the application definitely thinks there is already a connection to the device before attempting to run the module.

another option: i see that you're running osx. could you try `sudo -H python ./needle.py` and see if that works, but also do NOT run `iproxy 2222 22` or whatever you are running that sets up the port forward

[2018-07-27 14:21] mehadhe commented on #257
@Ken,

Hope you've seen my screenshots. FYI, I'm sure that I didn't make any
secondary connection using iproxy or whatever. Today, I've observed
something new by  connecting the device using cable and modified the
config.txt file including the options  below

Agent port: 4444
IP: 127.0.0.1
Port: 2222

Suddenly, it's worked. It didn't disconnected from then. But, I'm not sure
whether the issue reso

[2018-07-27 17:02] marco-lancini commented on #257
@mehadhe: where you trying to connect over WiFi before?

[2018-07-27 18:22] bshieh commented on #257
@Yogehi  I tried running `ps ax | grep needle` in another terminal while running needle and got this output:

[code]

I have actually been running needle with `sudo -H python needle.py`. I tried unloading the com.usbmux.iproxy.plist file with `launchctl unload ~/Library/LaunchAgents/com.usbmux.iproxy.plist` which enables me to SSH over USB, and got the same error as before

[code]

[2018-08-01 10:00] op7ic opened #261 "prereq for installation"
## Issue
dependencies for installation need updating a bit of updating. You also need 'libxslt-dev libxml2-dev libssl-dev' when building on Kali. These particular requirements come from biplist. Alternative is to do "apt-get install python-biplist"

[2018-08-03 12:26] mehadhe commented on #257
@Yogehi, The connection establishment problem resolved by connecting the device via USB cable and  configured the file as below.

# Automated Configuration file

set AGENT_PORT 4444
set APP
set DEBUG True
set HIDE_SYSTEM_APPS False
set IP 127.0.0.1
set PORT 2222
set OUTPUT_FOLDER /Users/mehadhe_sameer/needle/needle/output
set PASSWORD my_password
set SKIP_OUTPUT_FOLDER_CHECK True
set USERNAME root

[2018-08-03 12:26] #257 closed

[2018-08-03 12:39] mehadhe opened #262 "[!] IOError: [Errno 2] No such file or directory: '/var/root/.needle/tmp/plist'"
## Issue
[!] IOError: [Errno 2] No such file or directory: '/var/root/.needle/tmp/plist'

### Expected behaviour
At least a successful module execution

### Actual behaviour
No module has been executed successfully

### Steps to reproduce
1. Connection established successfully via USB
2. 'Shell' command execution to ensure the working
3. Using the module path followed by 'run' command execution en

[2018-08-03 12:55] mehadhe commented on #262
Even I've tried the following command outside the needle environment

M285551M5HTDD:~ mehadhe_sameer$ sshpass -p "<my_password>" scp -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no -P 2222 root@127.0.0.1:"/private/var/containers/Bundle/Application/DCEA8952-7AFA-4C1C-968A-C1B55F4CFF7F/SampleiOStestapplication.app/Info.plist" /var/root/.needle/tmp/plist
Warning: Permanently added '[127.0

[2018-08-03 13:41] Yogehi commented on #261
I'll look into this soon. Thanks for the heads up.

[2018-08-03 13:43] Yogehi commented on #242
Update on this.

I'm still looking into how to resolve this. I agree that the additional entitlement should work. My issue right now is getting Xcode to allow me to compile Needle with the new entitlement.

I'll update this when I can.

[2018-08-03 13:47] Yogehi commented on #262
Your log shows that you are trying to pull the plist file from the iphone and place it in the `/var/root` directory of your macos workstation. do you have permissions to write to `/var/root`?

[2018-08-03 15:11] mehadhe commented on #262
I just executed the module. I'm not pulling of my own.

On Fri, Aug 3, 2018, 7:35 PM Ken Gannon <notifications@github.com> wrote:

[2018-08-03 15:16] Yogehi commented on #262
The last green line in your screenshot shows what your local host is trying to run, which is the following:

`sshpass -p "<password>" scp -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no -P 2222 root@127.0.0.1:"/private/var/containers/Bundle/Application/<UUID>/<appname>.app/Info.plist" /var/root/.needle/tmp/plist`

So I need to know:

1) what command are you running to launch Needle on

[2018-08-03 15:27] mehadhe commented on #262
I'm using the following command,  To launch the needle framework
 sudo -H python ./needle.py -r config.txt

And regarding the permission, I've changed it manually by navigating
through Filza

On Fri, Aug 3, 2018, 8:46 PM Ken Gannon <notifications@github.com> wrote:

[2018-08-06 06:40] mehadhe commented on #262
@marco-lancini: The path /var/root/.needle/tmp/plist was not mentioned by me. Instead, I've mentioned the path clearly in the config.txt file to save the output. If do so, Why the modules are attempting to write into the root directory?

And to your 2nd root cause, I've double checked the path and its name for whitespaces. There was nothing there as you mentioned.

[2018-08-07 23:00] Yogehi commented on #242
Sooooooooo more bad news.

The ‘com.apple.private.coreservices.canmaplsdatabase‘ entitlement does work on iOS 11.0-11.2.

It does NOT work on iOS 11.3.1.

[2018-08-08 17:05] meetinthemiddle-be commented on #242
If this is a limitation of Needle and it's documented, that's the way it is.

Is there still a possibility of just using the UUID in the APP variable directly without using the app list as a mapper between the two? This would be a workaround for the problem as this can be found out through SSH. We're already working with a rooted device to begin with so getting that value manually as a "plan B" se

[2018-08-17 12:16] poldenais commented on #242
HI this is an issue for me as well, I have electra jailbreak on iOS 11.3.1 and list apps returns nothing when I attempt to run modules.

[2018-08-17 14:28] peterfillmore commented on #242
Cheers.
So can anyone throw a debug log here for 11.3.?
Would have a look myself but don’t have one that fits the profile.

Sent from my iPhone

[2018-08-20 08:45] poldenais commented on #242
**Device iOS Version with Electra JB**

11.3.1

**Expected behaviour**

Target app wizard returns apps to be targeted

**Actual behaviour**

Target app wizard returns nothing.

**Steps to reproduce**

Run a module, and allow the target app wizard to run.
**needle error logs**

[code]

**Needle Version**

Framework (on MacBook): 1.3.2
Agent (on iPad device): 1.0.5

**Python Version**

2.7

[2018-08-27 14:13] poldenais commented on #242
Hi Is anything else needed above? thanks,